/* CSS file */
.AccueilIHM{
	padding-left:5;
	padding-right:5;
	padding-top:5;
	padding-bottom: 5;
	background-color: #999999;
	background-alpha:1;
}
.MainMenuIHM{
	border-style: none;
	border-thickness:0;
	topLeftRadius: 0;
	topRightRadius: 0;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	colorsConfiguration: 1;
	fillColors: #999999;
	fillAlphas: 1;
	vertical-gap:5;
}
.TitreBloc{
	colorsConfiguration: 2;
	fillColors: #C5C5C5, #CCCCCC;
	fillAlphas:  1,1;
	gradientRatio: 0,157;
	angle: 90;
	topLeftRadius: 10;
	topRightRadius: 10;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	padding-left:1;
	padding-right:1;
	font-family: 'Trebuchet MS';
}
.LabelTitreBloc{
	color: #b2071b;
	font-weight: bold;
	text-indent:10;
	font-size:13;
	font-family: 'Trebuchet MS';
}

.MainContentBloc{
	border-style: solid;
	border-thickness:1;
	border-color:#FFFFFF;
	bottomLeftRadius: 10;
	bottomRightRadius: 10;
	topLeftRadius: 0;
	topRightRadius: 0;
	background-color: #FFFFFF;
	background-alpha:1;
	horizontal-align:center;
	padding-bottom:3;
	padding-left:3;
	padding-right:3;
	vertical-gap:2;
}
.ItemRendererAccueilBLoc{
	border-style: none;
	border-thickness:0;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	topLeftRadius: 0;
	topRightRadius: 0;
	colorsConfiguration: 1;
	fillColors: #FFFFFF;
	fillAlphas: 1;
}
.LabelTitreItemRenderer{
	color: #b2071b;
	font-weight: bold;
	text-indent:10;
	font-size:13;
	font-family: 'Trebuchet MS';
}
.ItemRendererTitle
{
	border-style: none;
	border-thickness:0;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	topLeftRadius: 0;
	topRightRadius: 0;
	background-alpha:1;
	background-color: #FFFFFF;
	horizontal-align: left; 
	vertical-align: middle;
}
.ItemRendererTileListComposant {
	colorsConfiguration: 1;
	fillColors: #FFFFFF;
	fillAlphas: 1;
	border-style: none;
	border-thickness:0;
	border-color: #FFFFFF;
	border-alpha: 0;
	bottomLeftRadius: 10;
	bottomRightRadius: 10;
	topLeftRadius: 0;
	topRightRadius: 0;
}
.ItemRenderertileList{
	colorsConfiguration: 4;
	fillColors: #A1A1A1, #FFFFFF, #FFFFFF, #A1A1A1;
	fillAlphas:  1,1,1,1;
	gradientRatio: 0,42,216,255;
	angle: 90;
	cornerRadius: 10;
	vertical-align: middle;
	horizontal-align: center;
	border-style: none;
	border-thickness: 0;
}

.BoxIndicateur{
	horizontal-align: center;
	horizontal-gap: 0;
}
.LabelIndicateur{
	font-weight:bold;
	font-family: 'Trebuchet MS';
}
.LabelFonctionAccueilMenu{
	text-align:center;
	color: #4e4e4e;
	font-family: 'Trebuchet MS';
	font-size:11;
}