	
	<!--- PROCESSUS D'UPLOAD DE FICHIERS --->

	<cfset uuid = FORM.UUID>
	<cfset lignes = FORM.LIGNES>

	<cfset directory = "/container/importdemasse/">	
			
	<cfset path = #directory# & #uuid#>
		
	<cfif DirectoryExists('#path#')>

		<cftry>
		
			<cffile action="upload" mode="777" fileField="filedata" destination="#path#/" nameconflict="overwrite" result="uploadFile" accept="application/octet-stream">
			
			<!--- ACTION A FAIRE --->
			
			<cfmail server="mail.consotel.fr" port="26" from="upload@consotel.fr" to="nicolas.renel@consotel.fr" 
					subject="[UPLOAD]upload lignes" type="text/html">
									
				<cfoutput>
					
					Envoi de mail de l'import en succes -> <br/><br/>
					
					<cfdump var="#lignes#"><br/>
				
				</cfoutput>
					
			</cfmail>
			
		<cfcatch>
		</cfcatch>
		</cftry>
	
	</cfif>
		
	