<!---
Package : fr.consotel.consoview.rapports.ConsoByNode
--->
<cfcomponent name="RapportConsoByNodeSurThemeStrategy">
	<cffunction name="getReportData" access="private" returntype="any">	
		<cfargument name="ID_PERIMETRE" required="true" type="numeric"/>
		<cfargument name="RapportParams" required="true" type="struct"/>
		<cfset ID_ORGA = ID_PERIMETRE>
		<cfstoredproc datasource="#SESSION.OFFREDSN#" procedure="PKG_CV_REP_V3.DETAIL_FEUILLE_SURTHEME">
			<cfprocparam cfsqltype="CF_SQL_INTEGER"  type="in" variable="p_racine_master" value="#SESSION.PERIMETRE.IDRACINE_MASTER#"/>
	        <cfprocparam value="#ID_ORGA#" cfsqltype="CF_SQL_INTEGER" type="in">
 	        <cfprocparam  value="#RapportParams.DATEDEB#" cfsqltype="CF_SQL_VARCHAR" type="in">
	        <cfprocparam  value="#RapportParams.DATEFIN#" cfsqltype="CF_SQL_VARCHAR" type="in">
	        <cfprocresult name="qGetReportData">
        </cfstoredproc>
		<cfreturn qGetReportData>
	</cffunction>
	
	<cffunction name="displayRapport" access="public" returntype="void" output="true">
		<cfargument name="ID_PERIMETRE" required="true" type="numeric"/>
		<cfargument name="RapportParams" required="true" type="struct"/>
		<cfset rapportParams.chaine_date = rapportParams.DATEDEB>
		<!---====== FORMATAGE DES DATES DE DEBUT ET DE FIN ======--->
		<cfset DATE_YEAR_YYYY = datePart("YYYY",rapportParams.DATEDEB)>
		<cfset DATE_MONTH_M = datePart("M",rapportParams.DATEDEB)>
		<cfset rapportParams.DATEDEB =
				LsDateFormat(createDate(DATE_YEAR_YYYY,DATE_MONTH_M,1),"YYYY/MM/DD")>
		<cfset DATE_YEAR_YYYY = datePart("YYYY",rapportParams.DATEFIN)>
		<cfset DATE_MONTH_M = datePart("M",rapportParams.DATEFIN)>
		<cfset rapportParams.DATEFIN =
				LsDateFormat(createDate(DATE_YEAR_YYYY,DATE_MONTH_M,1),"YYYY/MM/DD")>
		<!---====================================================--->
		<cfset qGetData = getReportData(ID_PERIMETRE,RapportParams)>
		<cfif #qGetData.recordcount# gt 0>
			<cfif UCASE(arguments.RapportParams.FORMAT) EQ "CSV">
				<cfset filename="Consos-Par-Organisations-SurThemes_" & replace(session.perimetre.raison_sociale,' ','_',"all")>
				<cfset exportService=createObject("component","fr.consotel.api.reporting.export.ExportService")>
				<cfset exportService.exportQueryToText(qGetData,filename & ".csv")>
			<cfelse>
				<cfset MAX_ROWS = 50000>
				<cfset NB_COL = qGetData['NB_COL'][1]>
	   			<cfinclude template="./consoByNodeSurTheme_xls.cfm">
			</cfif>
		<cfelse>
			<cfoutput>
				<center><strong><h2>Aucunes données répondant à votre demande</h2></strong></center>
			</cfoutput>
		</cfif>
	</cffunction>
</cfcomponent>
