<cfsetting enablecfoutputonly="true">
<cfset newLine=chr(13) & chr(10)><!-- retour chariot ET saut de ligne -->
<cfset dataset=createObject("component","fr.consotel.consoview.util.utils").getExportOrgaStCSV(form.id_perimetre)>
<cfset actiLibel="STN(Actif=1/Inactif=0)" >
<cfoutput>
	<cfheader name="Content-Disposition" value="attachment;filename=Lignes_Orga_#replace(form.libelle_perimetre," ","_")#.csv">
	<cfcontent type="text/csv">Compte Rattachement;Numéro Ligne;Fonction/Usage;Collaborateur;Groupe Racine;N;#actiLibel#;N1;#actiLibel#;N2;#actiLibel#;N3;#actiLibel#;N4;#actiLibel#;N5;#actiLibel#;N6;#actiLibel#;#newLine#
</cfoutput>
<cfoutput query="dataset">#chaine##newLine#</cfoutput>