html body {
  margin:0;
  padding:0;
  background: url(/images/bg.gif) #CCCCCC;
  /* background: #FFFFFF; */
  font:x-small Verdana,Georgia, Sans-serif;
  voice-family: "\"}\""; voice-family:inherit;
  font-size:x-small;
  } html>body {
	font-size: x-small;
}

span {
  text-transform:uppercase;
  font-weight:bold;
  color:#9cf;
}

td {
	font-size : x-small;
	/*color: #629FB5;*/
}

a:link, a:visited {
	color: #000000;
	text-decoration: underline;
	font : normal 11px EurostileBold,verdana,arial,helvetica,serif;
}

a:hover {
  color: #483D8B;
  text-decoration: underline;
  font : normal 11px EurostileBold,verdana,Georgia, arial,helvetica,serif;
  }
a.noline:link, a.noline:visited, a.noline:hover {border-style:none;}

.tcontenu2 {
	border-bottom :1px solid #999999;
	border-top    :1px solid #C7C7C7;
	border-left   : 1px solid #C7C7C7;
	border-right  :1px solid #999999;
	border-collapse : collapse;
	padding:0px;
	background: transparent;
	color:rgb(0,0,0);
	font:normal 11px EurostileBold,verdana, Georgia, arial,helvetica,sans-serif;
}
.tcontenu {
	border-bottom :1px solid #999999;
	border-top    :1px solid rgb(241,241,241);
	border-left   :1px solid rgb(241,241,241);
	border-right  :1px solid #999999;
	border-collapse : collapse;
	padding:0px;
	background: rgb(241,241,241);
	color:rgb(0,0,0);
	font:normal 11px EurostileBold,verdana, Georgia, arial,helvetica,sans-serif;
}
input{
background:url(/images/inputbg.gif);
color:rgb(0,0,0);
font:normal 10px  Arial,Helvetica,sans-serif;
text-decoration:none;
background:rgb(255,255,255);
}
.input2{
	font 			: normal 10px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color			: black;
	text-align 	: left;
	background	: white;
	border 		: 1px solid #BED0FC;
}
button, .button{
background:url(/images/inputbg.gif);
color:rgb(0,0,0);
font:normal 10px  Arial,Helvetica,sans-serif;
text-decoration:none;
background:rgb(255,255,255);
cursor : hand;
}

select.option{
background:rgb(255,255,255);
color:rgb(0,0,0);
font:normal 10px  EurostileBold,verdana, Georgia, arial,helvetica,serif;
}
table .ghost
{
	border-right :1px solid #999999;
	border-bottom :1px solid #999999;
	border-left :1px solid #DED6D3;
	border-top :1px solid #DED6D3;
	background: #DED6D3;
	width: 100%;
	padding: 0px;
	color : #353618;
	font : 10px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	border-collapse: collapse;
}

table .cumul_rapport
{
	border : none;
	background: transparent;
	font: normal 11px Tahoma,Arial, sans-serif;
	color:#005EBB;
}

table .menuconsoview
{
	border : none;
	background: transparent;
	font: normal 11px Tahoma,Arial, sans-serif;
	color : #005EBB;
}

.menuconsoview caption{
	background:#036 ;
	color : white;
	font : bold 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 4px;
	letter-spacing: 1px;
}

.menuconsoview th{
	background   :#99CCFF ;
	color        : #036;
	font         : normal 11px EurostileBold,verdana,arial,helvetica,serif;
	padding      : 3px;
	border-collapse: collapse;
}
.menuconsoview a{
	font  : normal 11px EurostileBold,verdana,arial,helvetica,serif;
	color : #005EBB;
	text-decoration: none;
	cursor : hand;
}
.menuconsoview .a_black{
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color : #000000;
	text-decoration: underline;
	cursor : hand;
}
.menuconsoview .a_disable{
	font  : normal 11px EurostileBold,verdana,arial,helvetica,serif;
	color : #B9B9B9;
	text-decoration: none;
	cursor : hand;
}

.menuconsoview a:link, a:visited{
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color : #005EBB;
	text-decoration:none;
	cursor : hand;
}

.menuconsoview a:hover, a:active{
	font  : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color : red;
	text-decoration: underline;
	cursor : hand;
}

.menuconsoview .grid_title
{
	layout-grid: both loose 2px 2px;
	background: #D9E5FA;
	border-left: 15px solid rgb(86, 143, 250);
	border-right: 1px solid #D9E5FA;
	border-bottom: 1px solid rgb(86, 143, 250);
	border-top: 1px solid rgb(86, 143, 250);
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
}

.menuconsoview .grid_title_simple
{
	layout-grid: both loose 2px 2px;
	background: #D9E5FA;
	border-bottom: 1px solid #225F36;
	border-top: 1px solid #225F36;
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
}

.menuconsoview .grid_normal
{
	background: #FDFDFB;
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
}

.menuconsoview .grid_green
{
	margin-top:0px;
	border:0px solid #CCCC99;
	background : #CDF7AE;
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
}

.menuconsoview .grid_blue
{
	margin-top:0px;
	border:0px solid #CCCC99;
	background : #99CCFF;
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
}

.menuconsoview .grid_titlerouge
{
	layout-grid: both loose 2px 2px;
	background: #FFE1E1;
	border-left: 15px solid  rgb(204, 0, 0);
	border-right: 1px solid #FFE1E1;
	border-bottom: 1px solid rgb(204, 0, 0);
	border-top: 1px solid rgb(204, 0, 0);
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
	cursor : hand;
}

.menuconsoview .grid_titlevert
{
	layout-grid: both loose 2px 2px;
	background: #CDF7AE;
	border-left: 15px solid #004F02;
	border-right: 1px solid #CCCC99;
	border-bottom: 1px solid #004F02;
	border-top: 1px solid #004F02;
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
	cursor : hand;
}

/* Fin Class menuconsoview */


/*  Header */
.theader_consoview {
	float:left;
	background:#036 ;
	border-top :1px solid #225F36;
	border-right :1px solid #999999;
	border-bottom :1px solid #999999;
	border-left : 1px solid #225F36;
	color : #99CCFF;
	font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}
.theader_mini1_consoview {
	float:left;
	background:#036 ;
	border-top :1px solid #225F36;
	border-right :1px solid #999999;
	border-bottom :1px solid #225F36;
	border-left :1px solid #225F36;
	color : #99CCFF;
	font : normal 9px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	vertical-align: bottom;
}

.theader_mini2_consoview {
	float:left;
	background: #036;
	border-top :1px solid #225F36;
	border-right :1px solid #225F36;
	border-bottom :1px solid #225F36;
	border-left :1px solid #225F36;
	color : #CDF7AE;
	font : normal 9px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	vertical-align: top;
}
.theader_bis_consoview {
	float:left;
	/* background: #036; */
	background: rgb(241,241,241); 
	border : none;
	colr : black;
	font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}
.theader2 {
	background   :#99CCFF ;
	border-top   :1px solid #99CCFF;
	border-right :1px solid #999999;
	border-bottom:1px solid #999999;
	border-left  :1px solid #99CCFF;
	color        : #036;
	font         : bold 14px EurostileBold,verdana,arial,helvetica,serif;
	padding      : 2px;
}

/*  Header */
.theader {
	float:left;
	background:#036 ;
	border-top :1px solid #036;
	border-right :1px solid #999999;
	border-bottom :1px solid #999999;
	border-left :1px solid #036;
	border-collapse : collapse;
	color : #99CCFF;
	font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}
.theader_mini1 {
	float:left;
	background:#036 ;
	border-top :1px solid #036;
	border-right :1px solid #999999;
	border-bottom :1px solid #036;
	border-left :1px solid #036;
	border-collapse : collapse;
	color : #99CCFF;
	font : normal 9px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	vertical-align: bottom;
}
.theader_mini2 {
	float:left;
	background:#036 ;
	border-top :1px solid #036;
	border-right :1px solid #999999;
	border-bottom :1px solid #999999;
	border-left :1px solid #036;
	border-collapse : collapse;
	color : #99CCFF;
	font : normal 9px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	vertical-align: top;
}

.theader_bis {
	float:left;
	background:#036 ;
	border-top :1px solid #036;
	border-right :1px solid #036;
	border-bottom :1px solid #999999;
	border-left :1px solid #036;
	border-collapse : collapse;
	color : #99CCFF;
	font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}

.theader a:link{
	color: #99CCFF;
	text-decoration: underline;
	font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
}
.theader a:visited{
	color: #99CCFF;
	text-decoration: underline;
	font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
}

.theader a:hover{
  color: #ffffff;
  text-decoration:underline;
  font : normal 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
}

/* t_consoActif */
table.t_consoActif 
{
	font-size:100%;
	margin-top:0px;
	border:1px solid #CCCC99;
	background : #EAEAD9;
}
.t_consoActif a:link{
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
}
 .t_consoActif a:visited{
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	text-decoration:none;
}
 .t_consoActif a:hover{
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:red;
	text-decoration:none;
}

 .t_consoActif span{
	background : #292820;
	color : #EAEAD9;
	font : bold 15px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 0px;
	width: 100%;
	border-bottom : 1px dotted #CCCC99;
}

.t_consoActif th{
	background : #292820;
	color : #EAEAD9;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}
.t_consoActif td {
	padding:0px 0px;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
}
.t_consoActif input.button {
	background : rgb(255,255,255);
	padding:0 0px;
	border: 1px solid #292820;
	text-align:center;
	font : bold 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	cursor : hand;
}
.t_consoActif input {
    background : rgb(255,255,255);
	padding:0 0px;
	border: 1px solid #292820;
	text-align:left;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
}

.t_consoActif checkbox {
    background : rgb(255,255,255);
	padding:0 0px;
	border: 1px solid #292820;
	text-align:left;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
}

.t_consoActif select {
    background : rgb(255,255,255);
	padding:0 0px;
	border: 1px solid #292820;
	text-align:left;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
}
/* Fin Class t_consoActif */



.titre_menu{
	background: #036;
	color : #99CCFF;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}

.titre_menu2{
	background: #99CCFF;
	color : #036;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
}

.item_menu{
	color : #005EBB;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	border : 1px solid #ffffff;
	background : #ffffff;
}

.item_menu_hover{
   background : #D7EBFF;
	color : #036;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	border-top : 1px solid #D7EBFF;
	border-bottom : 1px solid #D7EBFF;
	border-right : 1px solid #D7EBFF;
	border-left : 1px solid #D7EBFF;
	border-collapse : collapse;
	cursor : hand;
}

.item_menu_selected{
   background : #99CCFF;
	color : #036;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	padding: 2px;
	border-top : 1px solid #036;
	border-bottom : 1px solid #036;
	border-right : 1px solid #99CCFF;
	border-left : 1px solid #99CCFF;
	cursor : hand;
	border-collapse : collapse;
}