/* CSS file */

.popupDiffusion
{
	borderStyle:solid;
	border-thickness:1;
	borderColor:#558ed5;
	cornerRadius:6;	
	dropShadowEnabled:false;
}

.tabNavigateDiffusion 
{
	tabHeight: 26;
	tabWidth: 140;
	backgroundColor: white;
	cornerRadius: 0;
	tabStyleName: "MyTabs";
	firstTabStyleName: "MyFirstTab";
	lastTabStyleName: "MyLastTab";
	selectedTabTextStyleName: "MySelectedTab";
}

.MyTabs {
	backgroundColor: white;
	cornerRadius: 0;
	color: black;
	cornerRadius: 9;
}

.MyFirstTab,
.MyLastTab {
	backgroundColor: white;
	cornerRadius: 0;
	color: black;
	cornerRadius: 9;
}

.MySelectedTab {
	backgroundColor: haloBlue;
	color: haloBlue;
	textRollOverColor: haloBlue;
	cornerRadius: 9;
}

.buttonRapportActif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#84D41D, #84D41D;
	borderColor:#D0E09D;
}

.butonRapportInactif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#D0E09D, #D0E09D;
	borderColor:#84D41D;
}

.buttonRapportDesactivate
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#FFFFFF, #FFFFFF;
	borderColor:#D0E09D;
}