<cfparam name="label" default="#form.titre#">

<cfset obj=createObject("component","fr.consotel.consoview.usages.cdr.#form.type_perimetre#SiteUsageStrategy")>
<cfset qGetGrid=obj.getData("#form.type#",form.index,form.flagdisplaynumbers,form.datedeb,form.datefin,form.chaine)>

<cfinclude template="detailAppels.cfm">