<cfparam name="label" default="#form.titre#">

<cfset obj=createObject("component","fr.consotel.consoview.usages.session")>
<cfset qGetGrid=obj.getData("#form.dataset#")>

<cfinclude template="#form.dataset#.cfm">