<?xml version="1.0" encoding="ISO-8859-1"?>
<cfsetting enablecfoutputonly="true">
<cfset newLine = chr(13) & chr(10)>
<cfheader name="Content-Disposition" value="inline;filename=Rapport-Rationalisation-#replace(RAISON_SOCIALE,' ','_','all')#.csv" charset="ISO-8859-1">
<cfcontent type="text/csv"><cfoutput>SOCIETE;SITE;ADRESSE1;ADRESSE2;CP;LIGNE;COMMENTAIRES;OPERATEUR;PRODUIT;NBRE_APPELS;DUREE;QTE;MONTANT#newLine#</cfoutput>
<cfoutput query="qGetData">"#societe#";"#site#";"#adresse1#";"#adresse2#";#zipcode#;"#ligne#";"#commentaires#";"#nom#";"#produit#";#val(nombre_appel)#;#val(duree_appel)#;#val(qte)#;#val(montant)##newLine#</cfoutput>
