<cftry>
	<cfset ImportTmp="/container/#URL.UUID#">
	
<!--- 	Begin coying the file on Temp Directory		--->
	<cffile action="upload" 
			mode="777"
				filefield="filedata" 
					destination="#ImportTmp#" 
						nameconflict="overwrite" 
							accept="application/octet-stream"
								result="uploadfile"/> 

<cflog text="************** serverfile2 : #cffile.ServerFile#">

<!--- 	Begin copying the file on Final Directory	--->			
	
<cfcatch type="any">
	<cfdocument format="PDF" overwrite="yes" filename="errordebug.pdf">
		<cfdump var="#cfcatch#"/>
	</cfdocument>

</cfcatch> 
</cftry>