<cfset rootPath=expandPath("/")>
<cfheader name="Content-Disposition" value="inline;filename=#FILE_NAME#">	
<cfcontent type="text/csv" file="#rootPath#/fr/consotel/consoview/usages/csv/#FILE_NAME#" deletefile="true">
