body,table,form,ul,li	{ margin:0; padding:0}
body	{ background-color:#1F1F1F; color:#FFFFFF}
img {border:0}
a	{ color:#fff}
a:visited	{ color:#fff}
hr {width:90%; height:2px; margin:6px 0 4px 0; color:#FFFFFF}
.center	{ text-align:center; margin:auto}
.stretch {width:100%;  background-repeat: repeat-x ;}
a.tab-text, a.tab-text:visited	{ text-align:center; font-size:x-small; color:#EDD4C8; text-decoration:none; margin-bottom:3px}
.error	{color:#fff}
.numeric {-wap-input-format:'*N'}



.font6{font-size:xx-large;}
.font4{font-size:x-large;}
.font2{font-size:large;}
.font1{font-size:medium;}
.form_tag {margin: 1px; padding: 1px; font-family: Arial, Tahoma, sans-serif;  font-size: medium;}
.search_button {font-family: Arial, Tahoma, sans-serif;  font-size: medium;}
.header_center {TEXT-ALIGN:center;}
.header_right {TEXT-ALIGN:right;}
.header_left {TEXT-ALIGN:left;}
a { text-decoration: none; }
.content img {	margin-right: 5px;	margin-top: 3px;	margin-left: 2px;}
.homeng {
	background-color: #474949;
	margin: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
	padding: 2px;
}
.header  {	background-color: #000000;	color: #FFFFFF;	font-size: x-large;	font-weight: bold;	font-family: Arial, Helvetica, sans-serif;	padding: 0px 0px 0px 2px;	margin: 0px;}
.footer  {	color: #FFFFFF;	background-color: #000000;	font-family: Arial, Helvetica, sans-serif;	font-size: medium;	font-weight: normal;	padding: 0px 0px 0px 3px;	margin: 0px;}
.accesskey {
	text-decoration: none;
	font-size: medium;
	color: #000000;
	margin: 0px;
	padding: 0px;
}
.pgheader {
	color: #000000;
	font-size: medium;
	font-weight: normal;
	padding: 1px 0px 0px 3px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.footerng {	background-color: #FFFFFF; color: #000000;	font-size: medium;	font-weight: normal;	font-family: Arial, Helvetica, sans-serif;	padding: 1px 1px 1px 3px;	margin: 0px;	border-top-width: 1px;	border-right-width: 0px;	border-bottom-width: 1px;	border-left-width: 0px;	border-top-style: solid;	border-right-style: solid;	border-bottom-style: solid;	border-left-style: solid;	border-top-color: #000000;	border-right-color: #000000;	border-bottom-color: #000000;	border-left-color: #000000;}
/* Design17 Style16 */
/* Editor Styles listed below */
.Heading {font-family: Arial, Tahoma, sans-serif; font-size: large;	font-weight: bold; color: #000000; text-decoration: none;	margin: 0px; padding: 0px;}
.BoldText {	font-weight: bold;	font-size: medium;}
.Italic {font-style: italic;}
.Underline {text-decoration: underline;}
.Indent {	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px;	margin-left: 5px;}
.Highlight {	background-color: #CCCCCC;	border-top-width: 0px;	border-right-width: 0px;	border-bottom-width: 0px;	border-left-width: 0px;	border-top-style: none;	border-right-style: none;	border-bottom-style: none;	border-left-style: none;	padding: 2px 0px 0px 0px;	margin: 2px;}
.Line_HR {clear:both;	border-bottom-color:#000000; border-top-color:#ffffff;	border-left-color:#ffffff; border-right-color:#ffffff;	border-top-width: 1px;	border-right-width: 1px;	border-bottom-width: 1px;	border-left-width: 1px;	border-top-style: solid;	border-right-style: solid;	border-bottom-style: solid;	border-left-style: solid;	padding: 0px;	margin: 0px;}



.title-02 {background:url("../design/dot-01.gif") 0 60% repeat-x; font-size:100%;}
.title-02 span {padding-right:5px;}
.cols5050 {clear:both; background:url("../design/dot-01.gif") 0 100% repeat-x;}
.cols5050 .col {float:left; width:275px;}
.cols5050 .col .article {clear:both; margin-bottom:15px;}
.cols5050 .col .article-img {float:left; width:85px;}
}
.cols5050 .col .article-txt {float:right; width:175px;}
.cols5050 .col .article-txt h4 {margin:0; margin-bottom:7px; font-size:110%;}
.cols5050 .col .article-txt p {margin:0; font-size:90%;}
