﻿<cfcomponent displayname="IOSEnrollment" hint="Gestion prise en compte du terminal" implements="OSEnrollmentInterface" >

	<cffunction name="initProcess" displayname="initProcess" description="Initialisation du process d'enrollment du device" 
				hint="Initialisation du process d'enrollment du device" access="remote" output="false" returntype="numeric">
		<cfargument name="IDSOUS_TETE" type="numeric" hint="l idendtifiant de la sous - tete (ligne)) vers laquelle sera envoyé le SMS d'inscription" required="true" >
		<cfargument name="SOUS_TETE" type="string" hint="le numéro la sous - tete (ligne)) vers laquelle sera envoyé le SMS d'inscription" required="true" >
		<cfargument name="cvIDTERMINAL" type="numeric" hint="le numéro IMEI du Device" required="true" >
		<cfargument name="cvIMEI" type="string" hint="le numéro IMEI du Device" required="false" >
		
		<cfset user  = 'demo'>
		<cfset mdp = '123456'>
		
		<cfif SESSION.PERIMETRE.ID_GROUPE eq 2716675>
			<cfset user  = 'demosfr'>
			<cfset mdp = 'pfgp'>
		</cfif>
		
		
			 
	 
<cflog text="mail 1">
<cfmail from="brice.miramont@consotel.fr" 
		bcc="dev@consotel.fr"
		subject="MDM" type='text' to="#SOUS_TETE#@contact-everyone.fr" server="mail.consotel.fr" port="26">
MDM Consotel - Etape 1
Veuillez cliquer sur ce lien:
https://mdm.consotel.fr/zdm/ios/otae/getrootca
</cfmail>
	 
		
		
		
<cfthread action="sleep" duration="3000">
</cfthread>	
		
<cflog text="mail 2">				
<cfmail from="brice.miramont@consotel.fr"
		bcc="dev@consotel.fr"
		subject="MDM" type='text' to="#SOUS_TETE#@contact-everyone.fr" server="mail.consotel.fr" port="26">
MDM Consotel - Etape 2
Veuillez cliquer sur ce lien:
https://mdm.consotel.fr/zdm/ios/otae/dologin?ew_username=#user#&ew_pass=#mdp#
</cfmail>

			
		<cfreturn 1>
		
	</cffunction>

</cfcomponent>