<cfset cfcObject=createObject("component","fr.consotel.consoview.M312.surtheme.FacadeSurTheme")>
<cfset DATE_DEB=right(FORM.DATEDEB,4) & "/" & mid(FORM.DATEDEB,4,2) & "/" & left(FORM.DATEDEB,2)>
<cfset DATE_FIN=right(FORM.DATEFIN,4) & "/" & mid(FORM.DATEFIN,4,2) & "/" & left(FORM.DATEFIN,2)>
<cfset dataset=cfcObject.getListeThemesSurThemeByID(FORM.PERIMETRE,FORM.MODESELECTION, FORM.IDENTIFIANT, FORM.IDSUR_THEME, DATE_DEB, DATE_FIN, 1)>
<cfset filename="Tableau-De-Bord-Sur-Theme-#FORM.SUR_THEME#_" & replace(session.perimetre.raison_sociale,' ','_',"all")>
<cfset exportService=createObject("component","fr.consotel.consoview.api.reporting.export.ExportService")>
<cfset exportService.exportQueryToText(dataset,filename & ".csv")>
