﻿<cfset objRequest = GetHttpRequestData() />
<cfset conetent = toString(objRequest.Content) />

<cfdump var="#objRequest#" >
<cfdump var="#conetent#" >

<cfabort>
<cfheader statuscode="201" statustext="Created" >
<cfheader name="Location" value="http://backoffice-dev.local/api/orders//150403-47019">
