<!--- PROCESSUS D'UPLOAD DE FICHIERS --->
<cfset uuid = FORM.UUID>

<cfset directory = "/container/importdemasse/">	<!---  /container/importdemasse/ se trouve sur pelican/pelican --->
		
<cfset path = #directory# & #uuid#>
	
<cfif not DirectoryExists('#path#')>
	<cfdirectory action="Create" directory="#path#" type="dir" mode="777">
</cfif>
	
<cftry>
	<!---  action = upload permet de copier un fichier dans un dossier  --->
	<cffile action="upload" mode="777" fileField="filedata" destination="#path#/" nameconflict="overwrite" result="uploadFile" accept="application/octet-stream">	
	<cfcatch>
	</cfcatch>
</cftry>