<cfobject type="component" name="q" component="v3_exportERPprintemps">
<cfset q.main()>
 

<!--- <cfdirectory action="list" directory="C:\CFT\PRINTEMPS\" recurse="false" name="qFichier" filter="*.pdf">
<cfloop query="qFichier">
	<cfftp result="resultat" action="putFile" password="K1308Sotl" username="consotel" server="80.78.3.70" 
		localFile="C:\CFT\PRINTEMPS\#qFichier.name#" remoteFile="#qFichier.name#">
	<cfif resultat.Succeeded eq "YES">
		<cffile action="move" source="C:\CFT\PRINTEMPS\#qFichier.name#" destination="C:\CFT\PRINTEMPS\exportes\pdf\#qFichier.name#" >
	<cfelse>
		<cffile action="move" source="C:\CFT\PRINTEMPS\#qFichier.name#" destination="C:\CFT\PRINTEMPS\erreur\pdf\#qFichier.name#" >
	</cfif>
</cfloop>

<cfdirectory action="list" directory="C:\CFT\PRINTEMPS\" recurse="false" name="qFichier" filter="*.dat">
<cfloop query="qFichier">
	<cfftp result="resultat" action="putFile" password="K1308Sotl" username="consotel" server="80.78.3.70" 
		localFile="C:\CFT\PRINTEMPS\#qFichier.name#" remoteFile="#qFichier.name#">
	<cfif resultat.Succeeded eq "YES">
		<cffile action="move" source="C:\CFT\PRINTEMPS\#qFichier.name#" destination="C:\CFT\PRINTEMPS\exportes\dat\#qFichier.name#" >
	<cfelse>
		<cffile action="move" source="C:\CFT\PRINTEMPS\#qFichier.name#" destination="C:\CFT\PRINTEMPS\erreur\dat\#qFichier.name#" >
	</cfif>
</cfloop> --->