/* Style générale de consoview */
TitleWindow 
{
    closeButtonDownSkin: Embed(source='../assets/images/closeButtonDownSkin.png',mimeType='image/png');
    closeButtonUpSkin: Embed(source='../assets/images/closeButtonUpSkin.png',mimeType='image/png');	
    closeButtonOverSkin: Embed(source='../assets/images/closeButtonDownSkin.png',mimeType='image/png');	
}

