<!---  
<cfdump var="#FORM#" label="FORM">
 ---> 
<cfset cfcObject=createObject("component","fr.consotel.consoview.tb.surtheme.#FORM.PERIMETRE##FORM.MODESELECTION#Strategy")>
<cfset DATE_DEB=right(FORM.DATEDEB,4) & "/" & mid(FORM.DATEDEB,4,2) & "/" & left(FORM.DATEDEB,2)>
<cfset DATE_FIN=right(FORM.DATEFIN,4) & "/" & mid(FORM.DATEFIN,4,2) & "/" & left(FORM.DATEFIN,2)>
<cfset dataset=cfcObject.getData(FORM.SUR_THEME,FORM.IDENTIFIANT,DATE_DEB,DATE_FIN)>
<cfset filename="Tableau-De-Bord-Sur-Theme-#FORM.SUR_THEME#_" & replace(session.perimetre.raison_sociale,' ','_',"all")>
<cfset exportService=createObject("component","fr.consotel.api.reporting.export.ExportService")>
<cfset exportService.exportQueryToText(dataset,filename & ".csv")>
