<cfset ImportTmp="/cv-tmp/">


<cftry>	
	<cffile action="upload"
			mode="777"
			fileField="filedata"
			destination="#ImportTmp#"
			nameconflict="overwrite"
			result="uploadFile"
			accept="application/octet-stream"
		    >
<cfcatch>
</cfcatch>
</cftry>