<cfsetting enablecfoutputonly="true">
<cfset newLine = chr(13) & chr(10)>
<cfheader name="Content-Disposition" value="attachment;filename=Rapport-Lignes-Sans-Consommations-#replace(RAISON_SOCIALE,' ','_')#.csv">
<cfcontent type="text/csv"><cfoutput>SIREN_SIRET;Adresse1;Adresse2;CP;Commune;NDI;Fonction;Du;Au;Abonnements_Periode;Abonnements_Mensuel;#newLine#</cfoutput>
<cfoutput query="qGetData">"#code_site_install#";"#Adresse1_install#";"#Adresse2_install#";#zipcode_install#;"#ville_install#";"#sous_tete#";"#ndi_fonction#";"#v_date_deb#";"#v_date_fin#";#montantabo#;#Evaluate(montantabo/nb_month_ecart)#;#newLine#</cfoutput>
