<cfstoredproc datasource="ROCOFFRE" procedure="PKG_M111B.ListeCollab">
	<cfprocparam  value="32816" cfsqltype="CF_SQL_INTEGER">
	<cfprocresult name="result">
	<cfprocparam  value="1" cfsqltype="CF_SQL_INTEGER">
	<cfprocparam  value="1" cfsqltype="CF_SQL_INTEGER">
	<cfprocparam  value="1" cfsqltype="CF_SQL_INTEGER">
</cfstoredproc>

<cfdump var="#result#">