<cffile action="read" file="\\dbcl2\web_directory\admin\autres\logins_extranet\completel_factures.csv" variable="qListe">
<cfset aListe=ListToArray(qListe,chr(10))>
<cfset obj=createObject("component","Completel.extranetCompletel")>

<cfset thread = CreateObject("java", "java.lang.Thread")>

<!--- <cfdocument format="PDF" overwrite="yes" filename="errordebug.pdf">
	<cfoutput>
		<cfloop from="1" to="#ArrayLen(aListe)#" index="i">
			'#Trim(getToken(aListe[i],1,";"))#','#Trim(getToken(aListe[i],2,";"))#'<br>
		</cfloop>
	</cfoutput>
</cfdocument> --->

<cfloop from="1" to="#ArrayLen(aListe)#" index="i">
	<!--- Si le download doit etre fait : 1 --->
	<cfif Trim(getToken(aListe[i],1,";")) eq 1>
		<cfset t=obj.getCompletel('#Trim(getToken(aListe[i],2,";"))#','#Trim(getToken(aListe[i],3,";"))#')>
		<cfset thread.sleep(1000)>
	</cfif>
</cfloop>