<cffile action="Readbinary" file="/container/Liens/Tutorial_csv.pdf" variable="fileContent"><!--- LE LIEN SERA A MODIFIER --->
<cfheader name="Content-Disposition" value="attachment;filename=TutorialCSV.pdf">
<cfcontent type="application/pdf" variable="#fileContent#">