<!--- SI NUMERO EXISTE DANS BDD, ENVOI DU CODE PAR SMS AU MM NUMERO --->
<cfset varCode = createObject("component","portail.class.classData.AccessManagerService").getLineCode(#numeroTel#) >

<cfinvoke webservice="http://sun-dev-reda/fr/consotel/api/sms/public/ApiSmsPublic.cfc?WSDL" method="createCampagne" returnvariable="uuid"></cfinvoke>


<cfset num = #RemoveChars(#numeroTel#, 1, 1)# >
<cfset phoneNumber="+33"&#num#>
<cfset contentSms="SAASWEDO Info conso : Votre code d'accès au PORTAIL TÉLÉCOM UTILISATEUR est : #varCode#">
<cfset operator="sfr" >
<cfset delay="1000" >

 <cfif  IsDefined ("uuid") and uuid neq "" >  
	
	<cfinvoke webservice="http://sun-dev-reda/fr/consotel/api/sms/public/ApiSmsPublic.cfc?WSDL" method="sendMessageToSingleNumber" refreshWSDL="true" returnvariable="returnSend">
		<cfinvokeargument name="phoneNumber" value="#phoneNumber#">
		<cfinvokeargument name="contentSms" value="#contentSms#">
		<cfinvokeargument name="operator" value="#operator#">
		<cfinvokeargument name="uuid" value="#uuid#">
	</cfinvoke>
	
</cfif> 

