<cfset qGetGrid=createobject("component","fr.consotel.consoview.util.utils").getQuery("session.dataFacture")>
<cfset filename="Liste-Des-Factures_" & replace(session.perimetre.raison_sociale,' ','_',"all")>
<cfset exportService=createObject("component","fr.consotel.consoview.api.reporting.export.ExportService")>
<cfset exportService.exportQueryToText(qGetGrid,filename & ".csv")>
