/* CSS file */

.ContainerChanged
{
	background-color:#3C9EEC;
	background-alpha:0.5;
}
.ContainerDefault
{
	background-color:#F3F6FB;
	background-alpha:1;
}

.M111popUpBox
{
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:15;
	border-thickness:1;
	border-color:#558ed5;
	shadowDistance:0;
}

.M111pageTitle
{
	font-size:15;
	font-weight:bold;
	color:#0B333C;
}

.M111buttonSearch
{
	disabledSkin: Embed(source="/assets/images/buttonSearchBlue.png");
	downSkin: Embed(source="/assets/images/buttonSearchBlue.png");
	overSkin: Embed(source="/assets/images/buttonSearchBlue.png");
	upSkin: Embed(source="/assets/images/buttonSearchBlue.png");
	color:#FFFFFF;
	fontSize:11;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
	borderStyle:none;
}

.M111DataGrid 
{
	headerColors: #2D82CA, #2D82CA;
	rollOverColor: #96C9F5;/* 96C9F5 -558ED5 -3996e4 */
	headerStyleName: "M111mydataGridHeaderStyle";
}

.M111mydataGridHeaderStyle 
{
	color: #f8fbfc;
	font-weight: bold;
}

.M111gridBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#CCCCCC;
	border-style:solid;
	corner-radius:4;
}
.M111BoxAddColonne
{
	background-color: #ffffff;
	borderStyle: solid;
	borderColor: #3C9EEC;
	borderThickness:1;
	color:#5F5F61;
	shadowDistance:2;
	dropShadowEnabled:true;
	cornerRadius:3
}

.alertesScroll
{
	upArrowSkin: Embed(source="/assets/images/alertesScroll/alertesScrollUpArrow.png");
	downArrowSkin : Embed(source="/assets/images/alertesScroll/alertesScrollDownArrow.png");
	trackSkin: Embed(source="/assets/images/alertesScroll/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbUpSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbOverSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbDownSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}