
<cfset volume = 0>
<cfloop index="vHeure" from="0" to="10">
	<cfloop index="vMinute" from="0" to="59">
			<cfloop index="vSeconde" from="0" to ="59">
				<!--- <cfset volume=vHeure*3600 + vMinute*60 + vSeconde> --->
				<cfif vHeure gt 9>
					<cfif vMinute gt 9>
						<cfif vSeconde gt 9>
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="#vHeure#:#vMinute#:#vSeconde#;#volume#"> 
							<cfoutput>#vHeure#:#vMinute#:#vSeconde#;#volume#</br></cfoutput>
						<cfelse >
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="#vHeure#:#vMinute#:0#vSeconde#;#volume#"> 
							<cfoutput>#vHeure#:#vMinute#:0#vSeconde#;#volume#</br></cfoutput>
						</cfif>
						
					<cfelse >
						<cfif vSeconde gt 9>
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="#vHeure#:0#vMinute#:#vSeconde#;#volume#"> 
							<cfoutput>#vHeure#:0#vMinute#:#vSeconde#;#volume#</br></cfoutput>
						<cfelse >
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="#vHeure#:0#vMinute#:0#vSeconde#;#volume#"> 
							<cfoutput>#vHeure#:0#vMinute#:0#vSeconde#;#volume#</br></cfoutput>
						</cfif>						
					</cfif>
				<cfelse >
					<cfif vMinute gt 9>
						<cfif vSeconde gt 9>
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="0#vHeure#:#vMinute#:#vSeconde#;#volume#"> 
							<cfoutput>0#vHeure#:#vMinute#:#vSeconde#;#volume#</br></cfoutput>
						<cfelse >
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="0#vHeure#:#vMinute#:0#vSeconde#;#volume#"> 
							<cfoutput>0#vHeure#:#vMinute#:0#vSeconde#;#volume#</br></cfoutput>
						</cfif>
						
					<cfelse >
						<cfif vSeconde gt 9>
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="0#vHeure#:0#vMinute#:#vSeconde#;#volume#"> 
							<cfoutput>0#vHeure#:0#vMinute#:#vSeconde#;#volume#</br></cfoutput>
						<cfelse >
							<cffile mode="777" action="append" file="/webroot/backoffice-brice/fr/consotel/batch/NeufCegetel/test.txt" output="0#vHeure#:0#vMinute#:0#vSeconde#;#volume#"> 
							<cfoutput>0#vHeure#:0#vMinute#:0#vSeconde#;#volume#</br></cfoutput>
						</cfif>						
					</cfif>
				</cfif>
				<cfset volume = volume+1>
			</cfloop>
	</cfloop>


</cfloop>