/* CSS file */

.panneauStyle
{
	borderStyle:solid;
	borderThickness:1;
	backgroundColor:#ffffff;
	color:#0b333c;
	cornerRadius:4;
	font-family:Arial;
	fontSize:11;
	headerHeight:0;
	textIndent:0;
	borderColor:#b7babc;
	dropShadowEnabled: false;
	headerHeight:20;
	header-colors:#b7babc,#b7babc;
	
}
.panelDescriptionRapport
{
	borderStyle:solid;
	borderThickness:1;
	backgroundColor:#ffffff;	
	textIndent:0;
	borderColor:#b7babc;
	dropShadowEnabled: false;
	header-colors:#b7babc,#b7babc;
	headerHeight:22;
}
.vboxPeriode
{
	padding-bottom:20;
	padding-left:20;
	padding-right:20;
	padding-top:20;
}
.panelStyle
{
	backgroundColor:#ffffff;
	dropShadowEnabled: false;
	borderStyle:none;
	dropShadowEnabled: false;
}
.rechercher
{
	fillColors: #ffffff, #84D41D, #ffffff, #84D41D;	
	cornerRadius:7;
}

.buttonRapportActif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#84D41D, #84D41D;
	borderColor:#D0E09D;
}

.butonRapportInactif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#D0E09D, #D0E09D;
	borderColor:#84D41D;
}

.buttonRapportDesactivate
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#FFFFFF, #FFFFFF;
	borderColor:#D0E09D;
}
.popup
{
	borderStyle:solid;
	border-thickness:2;
	borderColor:#1C558D;
	cornerRadius: 7;	
}
.composant
{
	borderStyle:none;
	headerHeight:0;
	textIndent:0;
	header-colors:#ffffff,#ffffff;
}