<cfcomponent name="ConfigService" alias="fr.consotel.consoview.api.ConfigService">
	<cffunction name="getDatasourceName" access="remote" returntype="string">
		<cfreturn "ROCOFFRE">
	</cffunction>
</cfcomponent>
