<cfcomponent displayname="RevokeZP001">

	<cffunction name="action">
	
		<cfargument name="param" type="struct" required="true">
			<!---
			<cfset var service = createObject("component","fr.consotel.api.mdm.partner.public.Zenprise").getPublicZenprise(#param.servermdmuser#,
																															#param.servermdmpwd#,
																															"https://" & #param.servermdm# & "/zdm/services/Version?WSDL")>	
			--->
			<cfset var service = createObject("component","fr.consotel.api.mdm.partner.public.Zenprise").getPublicZenprise()>
			<cfset var variable = service.revokeDevice(param.serialNumber, param.imei)>
	
	</cffunction>

</cfcomponent>
