﻿<cfsetting enablecfoutputonly="true">
<cfheader name="Content-Disposition" value="inline;filename=#FORM.FILE_NAME#" charset="utf-8">
<cfcontent type="text/csv; charset=utf-8">
<cfoutput>#FORM.DATA#</cfoutput>