@font-face
{
	fontFamily: "Trebuchet MS";
	fontWeight: bold;
	fontStyle: normal;
	src: local("Trebuchet MS");
}

Application 
{
	backgroundColor: #b0b0b0;
	backgroundGradientColors: #b0b0b0, #b0b0b0;	
	backgroundGradientAlphas: 0, 0;	
	themeColor: #b4131d;
	color: #353535;
	font-family: Trebuchet MS, Arial, sans-serif;
	borderColor: #808080;
}


HRule, VRule
{	stroke-color:#B4131D;
}

ComboBox
{
	corner-radius:0;
	theme-color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

Button
{
	corner-radius:0;
	theme-color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}



DataGrid 
{
	theme-color:#B4131D; 
	header-style-name : "DataGridTitle";
}

Panel 
{
	borderStyle: solid;
	borderAlpha: 0.5;
	borderThickness: 0;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	backgroundColor: #F5F5F5;	
	background-gradient-colors: #F5F5F5,#B0B0B0;  
	background-gradient-alphas: 1,1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	dropShadowColor: #000000;
	titleStyleName: "PanelTitle";

}

TitleWindow 
{
	borderStyle: solid;
	borderAlpha: 1;
	border-thickness-top: 10;
	border-color: #000000;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #F5F5F5;
	shadowDistance: 2;	
	dropShadowColor: #000000;
	titleStyleName: "PanelTitle";
}



ToolTip
{
	backgroundColor: #F5F5F5;
	color: #464343;
	fontWeight: bold;
	fontSize: 10;
	fontFamily: "Trebuchet MS , Arial";
	
}
Alert 
{
	borderStyle: solid;
	borderAlpha: 0.5;
	borderThickness: 0;
	borderThicknessLeft: 19;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 10;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #ffffff;
	shadowDistance: 2;
	shadowDirection: center;
	dropShadowColor: #000000;
	
	color: #353535;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
	
	title-style-name: "PanelTitle";
}

.PanelTitle 
{
	letterSpacing: 0;
	color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

.DataGridTitle 
{
	letterSpacing: 0;
	color: #353535;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

.PanelGlobal 
{ 
	headerHeight: 50;
	headerColors: #F5F5F5, #B0B0B0;
	backgroundAlpha: 1;
	backgroundColor: #B0B0B0;
	dropShadowEnabled: false;	
}

.FlatDataGridContent 
{				
	color: #000033;	
	font-size: 10;	     
	horizontalGridLines: true;
	horizontalGridLineColor: #cccccc;
	border-color: #000000;
	border-style: solid;  
	separator-width:0;
	vertical-grid-line-color : #534e42;  
	paddingBottom: 0;
	paddingTop: 0; 	    
	textSelectedColor: #2b333c;   
	leading: 0;
	roll-over-color:#EFFFFF;
	verticalAlign: top;	
}