/* CSS file */

.universUsages{
	backgroundColor: #DEDEDE;
	backgroundGradientColors: #DEDEDE, #DEDEDE;
	themeColor: #909587;
	color: #000000;
}

.panelUsage { 
   /*cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #D6C5A0, #D6C5A0;
	backgroundColor: #FBFAF9;*/
	cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDistance: 1;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderStyle: solid;
	/*borderThickness: 0;*/
	borderColor: #D6C5A0;
	headerColors: #D6C5A0, #D6C5A0;
	backgroundColor: #FBFAF9;
} 

.InfoPanelUsage { 
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #D6C5A0, #D6C5A0;
	backgroundColor: #FBFAF9;
} 

.MainUsageButton {
	theme-color: #D6C5A0;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #D6C5A0, #D6C5A0, #D6C5A0, #D6C5A0;
   color: #32322D;
   borderColor: #32322D;
}

.MainUsageSelectedButton {
	theme-color: #D6C5A0;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #D6C5A0, #D6C5A0, #D6C5A0, #D6C5A0;
   color: #32322D;
   borderColor: #32322D;
}

.comboUsage { 
   backgroundAlpha: 1;
   borderColor: #d6c5a0;
   cornerRadius: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 0.5, 0.5, 0.5, 0.5;
   fillColors: #d6c5a0, #d6c5a0, #d6c5a0, #d6c5a0;
   themeColor: #d6c5a0;
}

.LinkBarUsage { 
   horizontalGap: 0;
   separatorWidth: 1;
   rollOverColor: #D6C5A0;
   selectionColor: #D6C5A0;
   color: #D6994F;
   textRollOverColor: #32322D;
   textSelectedColor: #32322D;
   disabledColor: #32322D;
}

.TextInputUsage { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #d6c5a0;
   borderThickness: 1;
   cornerRadius: 3;
}

.DateChooserUsage { 
   cornerRadius: 3;
   headerColors: #d6c5a0, #d6c5a0;
   backgroundAlpha: 1;
   themeColor: #d6c5a0;
}

.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ffffff;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	

.myNormalInputText{	
	cornerRadius: 0;
	textIndent: 1;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}

.bonjour{
	color : #FF8000;
}

.consogilles{
	color : #DDDDDD;
}

.erreur {
	fontWeight: bold;
	color : #C40000;
}

.myPieChart{
	dropShadowEnabled : false;
}

.myAxisStyle {
    tickLength: 20;
    tickPlacement: outside;
    minorTickPlacement: outside;
    color : #000000;
}
