<cfinterface>
	
	<cffunction name="action" displayname="execute"   output="false">
	
		<cfargument name="param" type="struct" required="true" hint="arguments">
		
	</cffunction>

</cfinterface>
