html body {
  margin:0px;
  padding:0px;
  background:#FFFFFF;
  font: normal 11px Tahoma,Arial, sans-serif;
}

table {
	font: normal 9px Tahoma,Arial, sans-serif;
	
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}

td {
	height:9px;
	padding:0px;
}

.cadre_graphique {
	border:1px;
	border-style:solid;
}

.cadre_cumul {
	border:1px;
	border-style:solid;
	border-left:0px;
	height:13px;
	padding-top:1px;
	padding-bottom:1px;
}

.cadre_soc {
	border:1px;
	border-style:solid;
	border-bottom:0px;
	border-top:0px;
	border-left:0px;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.cadre_left {
	border:1px;
	border-style:solid;
	
	border-left:0px;
	border-top:0px;
	border-bottom:0px;
}

.cadre_typetheme {
	border:1px;
	border-style:solid;
	background-color:#99CCFF;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.cadre_graph_title {
	color:#FFFFFF;
	background-color:#036;
	height:14px;
	padding-bottom:1px;
	padding-top:1px;
	font: normal 12px Tahoma,Arial, sans-serif;
}

.cadre_header {
	border:1px;
	border-style:solid;
	background-color:#99CCFF;

	border-left:0px;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.cadre_cell_header {
	border:1px;
	border-style:solid;

	border-left:0px;
	border-top:0px;
	border-bottom:0px;
}

.cadre_left_right {
	border:1px;
	border-style:solid;

	border-top:0px;
	border-bottom:0px;
}

.cadre_total_typetheme {
	border:1px;
	border-style:solid;
	background-color:#FFCC00;

	border-bottom:0px;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.cadre_total_typetheme_header {
	border:1px;
	border-style:solid;
	background-color:#FFCC00;

	border-left:0px;
	border-bottom:0px;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.cadre_after_total {
	border:1px;
	border-style:solid;

	border-top:0px;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.cadre_after_total_header {
	border:1px;
	border-style:solid;

	border-left:0px;
	border-top:0px;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.total_general {
	border:1px;
	border-style:solid;

	background-color:#FF9900;
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

.total_general_header {
	border:1px;
	border-style:solid;

	background-color:#FF9900;
	border-left:0px
	height:13px;
	padding-bottom:1px;
	padding-top:1px;
}

/*

html body {
  margin:5px;
  padding:5px;
  background:#FFFFFF;
  font: normal 9px Tahoma,Arial, sans-serif;
}


table {
	font: normal 9px Tahoma,Arial, sans-serif;
	padding:0px;
}

td {
	padding:0px;
	height:11px;
}



.cadre{
	border-bottom-width	:1px;
	border-color:#0066FF;
	border-left-width	:1px;
	border-right-width	:1px;
	border-style		:solid;
	border-top-width	:1px;
	border-collapse		:collapse;
}

.cadre_complet {	
	border-style:solid;	border-color:#C0C0C0;
	
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:1px;
}

.cadre_right {
	border-style:solid;	border-color:#C0C0C0;
	
	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:0px;
	border-top-width:0px;
}

.cadre_left {
	border-style:solid;	border-color:#C0C0C0;		

	border-left-width:1px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-top-width:0px;
}

.cadre_bottom {
	border-style:solid;	border-color:#C0C0C0;		

	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_cumul {
	border-style:solid;	border-color:#C0C0C0;		

	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:1px;
}

.cadre_societe {
	border-style:solid;	border-color:#C0C0C0;		

	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_type_theme {
	border-style:solid;	border-color:#C0C0C0;		
	background-color:#99CCFF;

	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_total_type_theme {
	border-style:solid;	border-color:#C0C0C0;		
	background-color:#FFCC00;

	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_total_type_theme_header {
	border-style:solid;	border-color:#C0C0C0;		
	background-color:#FFCC00;

	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_header {
	border-style:solid;	border-color:#C0C0C0;		
	background-color:#99CCFF;

	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_sur_theme {
	border-style:solid;	border-color:#C0C0C0;		

	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_cell_header {
	border-style:solid;
	border-color:#C0C0C0;

	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;

}

.cadre_total_general {
	border-style:solid;	border-color:#C0C0C0;		
	background-color:#FF9900;

	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_total_general_header {
	border-style:solid;	border-color:#C0C0C0;		
	background-color:#FF9900;

	border-left-width:0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
}

.cadre_graph {
	font: normal 8px Tahoma,Arial, sans-serif;
	padding:0px;
	border-style:solid;	border-color:#C0C0C0;		
	
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:1px;
}

.cadre_graph_title {
	background:#99CCFF;
	color:#000000;
	padding:1px;
	border-style:solid;	border-color:#C0C0C0;		
	
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-top-width:0px;
}
*/