	<!--- PROCESSUS PERMATTANT DE TELECHARGER LE BDC CORRECT --->

	<cfset FTPserver = "pelican">
	<cfset FTPport = 21>	
	<cfset FTPusername = "container">
	<cfset FTPpassword = "container">
	<cfset OFFREDSN = "ROCOFFRE">

	<cfset ImportTmp="/container/M16/">	
	
	<cfset uuid = #FORM.UUID#>
	<cfset filename = #FORM.LIBELLEFILE#>
	<cfset filenewname = #FORM.LIBELLEFILE#>

	<cfftp action="open" username="#FTPusername#" password="#FTPpassword#" port="#FTPport#" server="#FTPserver#" connection="ftp">
	<cffile action="readbinary" variable="fileContent" file="#ImportTmp##uuid#/#filename#">
	
	<cfheader name="Content-Disposition" value="attachment;filename=#filenewname#">
	<cfcontent type="application/pdf" variable="#fileContent#">
	
<!--- 	<cfquery name="getListeSSCPT" dbtype="query">
		select DISTINCT IDETAT_ENGENDRE, LIBELLE_ACTION
		FROM session.LISTEACTIONS
		ORDER BY IDETAT_ENGENDRE
	</cfquery>
	
	<cfdump var="#getListeSSCPT#"> --->
