<cfset rq=createobject("component","ListQueryErrorMail")>
<cfset qCommandes=rq.getData(5)>
<cfdump var="#qCommandes#">

 
 

 
 
<!--- 
<cfabort showerror="Humm! C'est embarrassant.Vous n'êtes pas autorisé a effectuer cette commande. ">
  --->


<cfloop query="qCommandes">

	<cfset dests=listToArray(MAIL_TO,',')>
	<cfset idracine1=IDRACINE>
	<cfset idtypecommande = 0>
		
	<cfset IDLOG = IDCV_LOG_MAIL>
	<cfset IDCMDE = IDCOMMANDE>
	<cfset IDGESTION = IDGESTIONNAIRE>
	<cfset racine = RACINE>
	<cfset expediteurMail = MAIL_FROM>
	<cfset expediteurNom = GESTIONNAIRE>
	<cfset destinataire = dests[1]>
	<cfset MSG = MESSAGE>
	<cfset OPERATEUR_ID = OPEURATEURID>
	<cfset IDTYPE_COMMANDE = IDTYPE_OPERATION>
	
	<cfset mycc = trim(MAIL_TO)>
	<cfset mybcc = ''>
	<cfset bcopie = 'YES'>
	
	<cfset mailObj = createObject("component","batchcommande.Mail")/>
	<cfset mailObj.settype("text")/>
	<cfset mailObj.setmodule("Commande Mobile")  />
	<cfset mailObj.setmessage("#MSG#")  />
	<cfset mailObj.setcharset("utf-8")   /> 
	<cfset mailObj.setCc(mycc)  />
	<cfset mailObj.setBcc(mybcc)  />
	<cfset mailObj.setexpediteur(expediteurMail)  />
	<cfset mailObj.setcopiePourExpediteur(bcopie)/>
	<cfset mailObj.setrepondreA(expediteurMail)/>
	<cfset mailObj.setDestinataire(destinataire)/>
	<cfset mailObj.setSujet("#SUBJECT#")/>
	 
	
	<cfset tab=arrayNew(1)>
	<cfset arrayAppend(tab,IDCMDE)>
	<cfset result = envoyer(mailObj,
			racine,
				tab,
					idtypecommande,
						IDGESTION,
							expediteurNom,
								destinataire,OPERATEUR_ID,IDTYPE_COMMANDE)>
		
	<cfif 	result gt 0>							
		<cfset qUpdate=rq.updateData(IDLOG)>
	
		<cfmail type="text/html"  subject="[LOG monitoring] Traitement des cmd en erreur" server="mail-cv.consotel.fr" port="26" from="monitoring@saaswideo.com" to="samuel.divioka@saaswideo.com">
			<cfoutput> -------------------------------------------------------</cfoutput><br/>
			<cfoutput> --- traitement commande #SUBJECT# -- job id : #result#</cfoutput><br/>
			<cfoutput> -------------------------------------------------------</cfoutput><br/>
			<cfoutput> -------------------------------------------------------</cfoutput><br/>
			<cfoutput> --- maj statu commande #SUBJECT# -- etat : #qUpdate# -- idlog : #IDLOG# </cfoutput><br/>
			<cfoutput> -------------------------------------------------------</cfoutput><br/>
		</cfmail>
								
		<cfoutput> -------------------------------------------------------</cfoutput><br/>
		<cfoutput> --- traitement commande #SUBJECT# -- job id : #result#</cfoutput><br/>
		<cfoutput> -------------------------------------------------------</cfoutput><br/>	
		<cfoutput> -------------------------------------------------------</cfoutput><br/>
		<cfoutput> --- maj statu commande #SUBJECT# -- etat : #qUpdate# -- idlog : #IDLOG# </cfoutput><br/>
		<cfoutput> -------------------------------------------------------</cfoutput><br/>
		
	</cfif> 
</cfloop>

<cfset rq=createobject("component","ListQueryErrorMail")>
<cfset qCommandes=rq.getData(5)>
<cfdump var="#qCommandes#">


<cffunction name="envoyer" access="public" returntype="any" output="true">
		<cfargument name="mail" 				type="batchcommande.Mail" 				required="true">
		<cfargument name="racine" 				type="string" 							required="true">
		<cfargument name="idsCommande" 			type="Array" 							required="true">		
		<cfargument name="idtypecommande" 		type="Numeric" 							required="true">
		<cfargument name="idGestionnaire" 		type="numeric" 							required="true">
		<cfargument name="gestionnaire" 		type="string" 							required="true">
		<cfargument name="desti" 				type="string" 							required="true">		
		<cfargument name="operateur_id" 		type="numeric" 							required="true">
		<cfargument name="typecommande_id" 		type="numeric" 							required="true">		 
		
		
			<cfset jobId =-1>
			<cfset p_retour = -1>
			<cfloop index="idx" from="1" to="#ArrayLen(idsCommande)#">
				<cftry>
					<cfset idCommande = idsCommande[idx]>
					<cfset str1 = 'SIZE="10"'>
					<cfset str2 = 'SIZE="2"'>		
					<cfset message1 = #Replace(mail.getMessage(),str1,str2,"all")#>
			
					<cfset str1 = "&apos;">
					<cfset str2 = "'">
					<cfset message = #Replace(message1,str1,str2,"all")#>
			
					<cfset listeMailEmp = "">
					<cfset mycc = trim(mail.getCc())>
					
					<cfif compareNocase(mail.getCopiePourExpediteur(),"YES") eq 0 > 
						<cfif len(mycc) eq 0>
							<cfset mycc = trim(mail.getExpediteur())>
						<cfelse>
							<cfset mycc = trim(mail.getCc()) & "," & trim(mail.getExpediteur())>
						</cfif>
					</cfif>
					
					
					<!--- Cr?ation de l'id unique pour le bon de commande --->
					<cfset BDC_UUID = createUUID()>
					
					<!--- Enregistrement de la commande dans la table des logs des bons de commandes  --->
					<cfset logger = createObject('component',"LogsCommande")> 
					
					<cfset logresult=logger.insertlogCommande( idracine1,
																racine,
																idgestionnaire,
																gestionnaire,
																expediteurMail,
																mail,
																idCommande,
																message1,
																1,
																'M',
																BDC_UUID)>  
					
					
					<cfset _templateUtil = createObject("TemplateUtil")>
					<cfset _templateName = _templateUtil.getTemplateNameByOpeNType(typecommande_id ,operateur_id)>
					<cfset _templateType = _templateUtil.getTemplateType(typecommande_id)>					
					<cfset _reportAbsolutePath = "/consoview/gestion/flotte/#_templateType#/#_templateType#.xdo">
					
					<cfdump var="#mail.getDestinataire()#" label="destinataire"><br>
					<cfdump var="#mycc#" label="cc"><br>
					<cfdump var="#_reportAbsolutePath# - #_templateName#"><br><br><br>
				 
					<cfobject name="sr" type="component" component="batchcommande.publicreportservice.ScheduleRequest">					
					
					<cfset sr.setReportRequest(_reportAbsolutePath,_templateName,"pdf")>					
					<cfset sr.AddParameter("P_IDCOMMANDE","#idCommande#")>
					<cfset sr.AddParameter("P_IDGESTIONNAIRE","#idGestionnaire#")>
					<cfset sr.AddParameter("P_RACINE","#racine#")>
					<cfset sr.AddParameter("P_GESTIONNAIRE","#gestionnaire#")>
					<cfset sr.AddParameter("P_MAIL","#expediteurMail#")>
					
					<cfset sr.setScheduleRequest("consoview","public","#BDC_UUID#")>
					<cfset sr.setNotificationScheduleRequest("monitoring@saaswideo.com",true,false,false)>
					<cfset sr.setEmailDeliveryRequest("#mail.getDestinataire()#","#mycc#","#mail.getBcc()#","#mail.getDestinataire()#","no-reply@saaswideo.com",
					                                                     "#message#","#mail.getSujet()#")>
					<cfset sr.setBurstScheduleRequest(false)>
					<cfset jobId = sr.scheduleReport()>									
					<cfset logresult = logger.updateJobIDBDCMobile(BDC_UUID,jobId)>
					
				 
				<cfcatch type="any">
					<cfoutput>
							<cfmail type="text/html"  subject="[LOG CV-DEV] Traitement des cmd en erreur"server="mail-cv.consotel.fr" port="26" from="monitoring@saaswideo.com" to="samuel.divioka@consotel.fr">
							Date: <cfoutput>#LsdateFormat(now(),'full')# #LSTimeFormat(Now())#</cfoutput>
							Commande en erreur : <cfoutput>#CFCATCH.Message#</cfoutput>
							</cfmail>
							erreur
							#CFCATCH.Message#
					</cfoutput>
				</cfcatch>
				</cftry>
			</cfloop>
		<cfreturn jobId>
</cffunction>