<cftry>
	<cfoutput>
		expandPath("/") : #expandPath("/")#<br>
		getCurrentTemplatePath : #getCurrentTemplatePath()#<br>
	</cfoutput>
	<cfdump var="#CGI#">
	<cfcatch type="Any">
		<cfdump var="#CFCATCH#">
	</cfcatch>
</cftry>