
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR"> 
	
	<head profile="http://gmpg.org/xfn/11">
	
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	
		<meta name="description" content="Dectection OS"/>
		
		<meta http-equiv="pragma" content="no-cache"/>
	 	
		<title>Dectection OS</title>
		
	</head>
	
	<body>
		
		
		<cfset newurl = urldecode('http://backoffice4.consotel.fr/detection.cfm?' & cgi.query_string)>
		
		<cfdump var="#newurl#"><br><br>
	
		<cflocation url="#newurl#">
	
	</body> 
</html> 