<img  src="Consoview.GIF">
<div style="text-align:center; font-size: 15px; width: 70%; margin:auto; position: absolute; left: 150px; top: 200px;">
<font style="font-family: 'Arial Black', Arial, Verdana, serif;">
Votre demande a bien été prise en compte.<br/><br/>
</div>
<cftry>
	<cfset email=FORM.EMAIL> 
	<cfset emailsupport="support@consotel.fr"> 
	<cfmail server="mail.consotel.fr" type="html" port="26" from="#email#" 
			to="#emailsupport#" subject="Demande d'informations" replyto="#email#">
	Bonjour,<br/>
	je souhaite être notifier du rétabilssement du service Consoview<br/>
	Cordialement,<br/>
	#email#
	</cfmail>
	<cfcatch>
		<cfmail server="mail.consotel.fr" type="html" 
				port="26" from="consoview@consotel.fr" 
				to="samuel.divioka@consotel.fr" subject="[CONSOVIEW] Demande d'informations error">
			#cfcatch.ExtendedInfo#
		</cfmail>
	</cfcatch>
</cftry>

