	<!--- PROCESSUS PERMATTANT DE TELECHARGER UNE PIECES JOINTES --->

	<cfset FTPserver = "pelican">
	<cfset FTPport = 21>	
	<cfset FTPusername = "container">
	<cfset FTPpassword = "container">
	<cfset OFFREDSN = "ROCOFFRE">

<!--- <cfset ImportTmp="/container/"> --->
	<cfset ImportTmp="/container/M16/">	
	
	<cfset uuid = #URL.UUID#>
	<cfset filename = #URL.LIBELLEFILE#>
	<cfset filenewname = #URL.FILEREF#>

	<cfftp action="open" username="#FTPusername#" password="#FTPpassword#" port="#FTPport#" server="#FTPserver#" connection="ftp">
	<cffile action="readbinary" variable="fileContent" file="#ImportTmp##uuid#/#filename#">
	<cfheader name="Content-Disposition" value="attachment;filename=#filenewname#">
	<cfcontent type="multipart/x-zip" variable="#fileContent#">