<cfset rootPath=expandPath("/")>
<cfheader name="Content-Disposition" charset="iso-8859-1"  value="attachment;filename=#FILE_NAME#">
	
<cfcontent type="application/vnd.ms-excel"  file="#rootPath#/fr/consotel/consoview/facturation/suiviFacturation/controles/xls/#FILE_NAME#" deletefile="true">
