<cfinterface displayname="Interface implémenté par lesclasses Composants" >
	
	<!--- PSEUDO CONSTRUCTEUR --->
	<cffunction name="init" access="public" output="false" returnType="void" >
		<!--- methode abstraite - no implementation --->
	</cffunction>
	
</cfinterface>