<cfsetting enablecfoutputonly="true">
<cfset newLine = chr(13) & chr(10)>
<cfheader name="Content-Disposition" value="attachment;filename=Rapport-Deploiement-#replace(RAISON_SOCIALE,' ','_')#.csv">
<cfcontent type="text/csv"><cfoutput>SIREN_SIRET;ADRESSE1;ADRESSE2;CP;COMMUNE;Ligne;DUREE_OP_ALTERNATIF;DUREE_OBS;PART_DUREE_OBS_P_1;PART_DUREE_OBS;MONTANT_OP_ALTERNATIF;MONTANT_OBS;PART_MONTANT_OBS_P_1;PART_MONTANT_OBS#newLine#</cfoutput>
<cfoutput query="qGetData">"#code_site#";"#Adresse1#";"#Adresse2#";"#zipcode#";"#Commune#";"#sous_tete#";#val(duree_autre)#;#val(duree_ft)#;#(val(duree_FT_avant)/IIf((val(duree_FT_avant)+val(duree_autre_avant)) NEQ 0,DE(val(duree_FT_avant)+val(duree_autre_avant)),DE(1)))#;#(val(duree_FT)/IIf((val(duree_FT)+val(duree_autre)) NEQ 0,DE(val(duree_FT)+val(duree_autre)),DE(1)))#;#val(montant_autre)#;#val(montant_ft)#;#(val(montant_FT_avant)/IIf((val(montant_FT_avant)+val(montant_autre_avant)) NEQ 0,DE(val(montant_FT_avant)+val(montant_autre_avant)),DE(1)))#;#(val(montant_FT)/IIf((val(montant_FT)+val(montant_autre)) NEQ 0,DE(val(montant_FT)+val(montant_autre)),DE(1)))##newLine#</cfoutput>
