/* CSS file */

.myScrollStyle {
	/*downArrowUpSkin: Embed(source="/ihm/renderer/scroll/assets/downArrow.png");
	downArrowOverSkin: Embed(source="/ihm/renderer/scroll/assets/downArrow.png");
	downArrowDownSkin: Embed(source="/ihm/renderer/scroll/assets/downArrow.png");
	upArrowUpSkin: Embed(source="/ihm/renderer/scroll/assets/upArrow.png");
	upArrowOverSkin: Embed(source="/ihm/renderer/scroll/assets/upArrow.png");
	upArrowDownSkin: Embed(source="/ihm/renderer/scroll/assets/upArrow.png");
	thumbDownSkin: 
		Embed(source="/ihm/renderer/scroll/assets/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");
	
	thumbUpSkin: 
		Embed(source="/ihm/renderer/scroll/assets/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");
	
	thumbOverSkin: 
		Embed(source="/ihm/renderer/scroll/assets/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", 
		scaleGridRight="8", scaleGridBottom="7");
	
	trackSkin: 
		Embed(source="/ihm/renderer/scroll/assets/scroll2.png",
		scaleGridLeft="7", scaleGridTop="4", 
		scaleGridRight="8", scaleGridBottom="6" );   */    
} 