﻿<cfcomponent>
	<cffunction access="remote" output="false" name="getValuesTop" returntype="query">	
			<cfquery name="qListTop" datasource="ROCOFFRE"> 
			
				  select  1 ID, 10 VALEUR ,10 LIBELLE from dual
				  union 
				  select  2 ID, 25 VALEUR ,25 LIBELLE from dual
				  union 
				  select  3 ID, 50 VALEUR ,50 LIBELLE from dual
				  union 
				  select  4 ID, 100 VALEUR ,100 LIBELLE from dual
			</cfquery>
		<cfreturn qListTop>
	 </cffunction> 
</cfcomponent>