#overlay {
          
}
.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .5em;
}

form {
  /* Pour le centrer dans la page */
  margin: 0 auto;
  width: 400px;
  /* Pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
/* Afin de s'assurer que tous les champs textuels utilisent la même police
   Par défaut, textarea utilise une police à espacement constant */
font: 1em sans-serif;

/* Pour donner la même dimension à tous les champs textuels */
width: 300px;
-moz-box-sizing: border-box;
box-sizing: border-box;

/* Pour harmoniser l'apparence des bordures des champs textuels */
border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Afin de rehausser les éléments actifs */
  border-color: #000;
}