<cfset javaSystem = createObject("java", "java.lang.System") />
<cfset jProps = javaSystem.getProperties() />
<cfset jProps.setProperty("mail.pop3.socketFactory.class", "javax.net.ssl.SSLSocketFactory") />
<cfset jProps.setproperty("mail.pop3.port",995) />
<cfset jProps.setProperty("mail.pop3.socketFactory.port", 995) />

<cfpop action="GETHEADERONLY" name="qGetHeader" server="pod51015.outlook.com" 
port="995" timeout="5" username="infofacture@saaswedo.com" password="Qowo57241">

<cfdump var="#qGetHeader#">
