<cfif isDefined("FORM")>
	<cflog text="APPEL DE RAPPORTLSC.CFM : ">
	
	<cfset array = ArrayNew(1)>
	<cfset array[1]= 'M34'>
	<cfset array[2]= ucase(FORM.FORMAT)>
	<cfswitch expression="FORMAT">
		<cfcase value="EXCEL">
			<cfset array[3]= 'xls'>
		</cfcase>
		<cfcase value="CSV">
			<cfset array[3]= 'csv'>
		</cfcase>	
		<cfdefaultcase>
			<cfset array[3]='xls'>
		</cfdefaultcase>
	</cfswitch>
	<cfset array[4]= ucase(FORM.PERIMETRE_INDEX)>
	<cfset array[5]= ucase(FORM.dateDeb)>
	<cfset array[6]= ucase(FORM.dateFin)>
	<cfset array[7]= ucase(FORM.LIBELLE_CLIENT)>
	<cfset array[8]= ucase(FORM.GLOBALIZATION)>
	
	<cfoutput>
		#ucase(FORM.dateDeb)#
		<br>
		#ucase(FORM.dateFin)#
	</cfoutput>
	
<!--- 	<cfset lscMobile=createObject('component','fr.consotel.consoview.M34.#FORM.GLOBALIZATION#.RapportLSC_Mobile')>
	<cfset lscFixeData=createObject('component','fr.consotel.consoview.M34.#FORM.GLOBALIZATION#.RapportLSC_FixeData')> 
	
	<cfset mobileStatus = lscMobile.scheduleReport(array)>
	<cfset fixeStatus = lscFixeData.scheduleReport(array)>
	
	<cflog text="mobileStatus : #mobileStatus#">
	<cflog text="fixeStatus : #fixeStatus#">--->
	
	<cfset lsc=createObject('component','fr.consotel.consoview.M34.#FORM.GLOBALIZATION#.RapportLSC')>
	<cfset lsc = lsc.scheduleReport(array)>
</cfif>