<!---ABONNEMENTS
<cfdump var="#FORM#" label="FORM"><br>
<cfdump var="#dataset#" label="dataset">
 --->

<cfsetting enablecfoutputonly="true">
<cfset newLine = chr(13) & chr(10)>
<cfheader name="Content-Disposition" value="attachment;filename=ProduitsAbonnements.csv">
<cfcontent type="text/csv"><cfoutput>SITE;LIGNE;FONCTION;QTE;MONTANT;FACTURE#newLine#</cfoutput>
<cfoutput query="dataset">"#NOM_SITE#";"#SOUS_TETE#";"#COMMENTAIRES#";#val(QTE)#;#val(MONTANT_FINAL)#;"#NUMERO_FACTURE#"#newLine#</cfoutput>

