<cfset objProduit=createObject("component","fr.consotel.consoview.M312.produits.facade")>
<cfset dataset=objProduit.getDetailProduitPDF(perimetre,modeCalcul,numero,idproduit_client,datedeb,datefin,tb)> 
<cfset usage = "">
<cfif tb eq "mobile"><cfset usage = "Collaborateur"><cfelse><cfset usage = "Fonction" ></cfif>	
<cfset obj = CreateObject("component","fr.consotel.consoview.M312.produits.produit")>				
<cfset obj.init(perimetre,modeCalcul)>			 
<cfset produit="#obj.getTypeProduit_cat(idproduit_client)# > #obj.getProduit_cat(idproduit_client)# : #obj.getOperateur_cat(idproduit_client)#">
<style type="text/css">
table.sample {
	font-size : 12px;
	border-width: 1px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
	padding : 0px;
	spacing : 0px;
	
}
 
table.sample th {
	 
	border-collapse: collapse;
	border-width: 0px 0px 0px 0px;
	spacing : 0px 0px 0px 0px;
	padding: 0px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: #003366;
	color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

 

table.sample td {
	 
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cellspacing : 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

</style>

<table align="center" width="100%" >
	<tr>	 
	<cfif dataset.TYPE_THEME eq "Abonnements">
		<td valign="top">
			<table cellspacing="0" align="center" class="cadre" border="0" cellpadding="0" width="100%">
				<tr>
					<td class="td5"><strong><cfoutput><strong>#produit#</cfoutput></strong></td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" class="menuconsoview" border="0" align="center" cellpadding="0" width="100%">
							<tr align="center">
								<th>&nbsp;Site&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Ligne&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;<cfoutput>#usage#</cfoutput>&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Quantité&nbsp;</th>								
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Montant (&euro; H.T)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;N°&nbsp;Facture&nbsp;</th>
							</tr>
							<cfset montant_abo_sous_total=0>
							<cfset nbr_abo_sous_total=0>
							<cfset montant_abo_total=0>
							<cfset nbr_abo_total=0>
							<cfset numRow = 0>
							<cfoutput query="dataset" group="siteID">
							
								<cfset vTemp=1>
								<cfoutput>
									<cfset vTemp=vTemp+1>
								</cfoutput>
							<tr>
								<td class="grid_normal" rowspan="#vTemp#" valign="top">
								&nbsp;#nom_site#&nbsp;<br>
								&nbsp;#adresse1#&nbsp;<br>
								<cfif len(trim(adresse2)) gt 0>
								&nbsp;#adresse2#&nbsp;<br>
								</cfif>
								&nbsp;#zipcode#&nbsp;#commune#&nbsp;
								</td>
							</tr>
									<cfoutput>
							<tr>
								<td width="1" bgcolor="808080"></td>
								<td class="grid_normal" valign="top">&nbsp;#sous_tete#&nbsp;</td>							
								<td width="1" bgcolor="808080"></td>
								<td class="grid_normal" valign="top">&nbsp;#commentaires#&nbsp;</td>
								<td width="1" bgcolor="808080"></td>
								<td class="grid_normal" align="right" valign="top">&nbsp;
								#LsNumberFormat(val(qte), '9,999,999,999')#
								&nbsp;</td>
								<td width="1" bgcolor="808080"></td>										
								<td class="grid_normal" align="right" valign="top">&nbsp;
								#LsEuroCurrencyFormat(val(montant_final), 'none')# &euro;
								&nbsp;</td>
								<td width="1" bgcolor="808080"></td>
								<td class="grid_normal" align="right" valign="top">&nbsp;
								#numero_facture#&nbsp;</td>
							</tr>
									<cfset montant_abo_total=montant_abo_total+val(montant_final)>
									<cfset nbr_abo_total=nbr_abo_total+val(qte)>
									<cfset montant_abo_sous_total= montant_abo_sous_total+val(montant_final)>
									<cfset nbr_abo_sous_total=nbr_abo_sous_total+val(qte)>								 	
									</cfoutput>
							<tr><td colspan="11" height="1" bgcolor="808080"></td></tr>
								<cfset numRow = numRow +1>
								<cfif (numRow mod 7) eq 0>									
									<tr>
										<th align="left" colspan="5" class="th_stt">&nbsp;TOTAL page&nbsp;</th>									
										<td width="1" bgcolor="808080"></td>
										<th align="right" class="th_stt">&nbsp;#LsNumberFormat(val(nbr_abo_sous_total), '9,999,999,999')#&nbsp;</th>
										<td width="1" bgcolor="808080"></td>
										<th align="right" class="th_stt">&nbsp;#LsEuroCurrencyFormat(val(montant_abo_sous_total), 'none')# &euro;&nbsp;</th>
										<td width="1" bgcolor="808080"></td>
										<th align="right" class="th_stt"></th>
									</tr>
									<tr>
										<th align="left" colspan="5">&nbsp;TOTAL cumulé&nbsp;</th>									
										<td width="1" bgcolor="808080"></td>
										<th align="right">&nbsp;#LsNumberFormat(val(nbr_abo_total), '9,999,999,999')#&nbsp;</th>
										<td width="1" bgcolor="808080"></td>
										<th align="right">&nbsp;#LsEuroCurrencyFormat(val(montant_abo_total), 'none')# &euro;&nbsp;</th>
										<td width="1" bgcolor="808080"></td>
										<th align="right"></th>
									</tr>
								</table>
							</td>
						</tr> 
					</table>
				</td>
			</tr>
		</table>
		<cfset montant_abo_sous_total=0>
		<cfset nbr_abo_sous_total=0>
		<cfdocumentitem type="pagebreak"/>
		<table cellspacing="0" align="center" class="cadre" border="0" cellpadding="0" width="100%">
				<tr>
					<td class="td5"><strong><strong>#produit#</strong></td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" class="menuconsoview" border="0" align="center" cellpadding="0" width="100%">
							<tr align="center">
								<th>&nbsp;Site&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Ligne&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;#usage#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Quantit&eacute;&nbsp;</th>								
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Montant (&euro; H.T)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;N°&nbsp;Facture&nbsp;</th>
							</tr>						
																	
								</cfif>
								 
								
							
							</cfoutput>
							
							
							<cfoutput>
							<tr>
								<th align="left" colspan="5" class="th_stt">&nbsp;TOTAL page&nbsp;</th>									
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsNumberFormat(val(nbr_abo_sous_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsEuroCurrencyFormat(val(montant_abo_sous_total), 'none')# &euro;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt"></th>
							</tr>
							<tr>
								<th align="left" colspan="5">&nbsp;TOTAL cumul&eacute;&nbsp;</th>									
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsNumberFormat(val(nbr_abo_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsEuroCurrencyFormat(val(montant_abo_total), 'none')# &euro;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" ></th>								
							</tr>
							</cfoutput>
						</table>
					</td>
				</tr>
			</table>
		</td>

	

<cfelse>
	<!---Tableau des consommations par type --->

	
		<td valign="top">
			<table cellspacing="0" align="center" class="cadre" border="0" cellpadding="0" width="100%">
				<tr>
					<td class="td5"><strong><cfoutput><strong>#produit#</cfoutput></strong></td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" class="menuconsoview" border="0" align="center" cellpadding="0" width="100%">
							<tr align="center">
								<th>&nbsp;Site&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Ligne&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;<cfoutput>#usage#</cfoutput>&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Nombre Appels&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Volume (min ou kO)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Montant (&euro;)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;N°&nbsp;Facture&nbsp;</th>
							</tr>
							<cfset montant_conso_sous_total=0>
							<cfset nbr_conso_sous_total=0>
							<cfset duree_conso_sous_total=0>
														
							<cfset montant_conso_total=0>
							<cfset nbr_conso_total=0>
							<cfset duree_conso_total=0>
							
							<cfset numRow = 0>
							
							<cfoutput query="dataset" group="siteID">
								<cfset vTemp=1>
								<cfoutput>
									<cfset vTemp=vTemp+1>
								</cfoutput>
								<tr>
									<td class="grid_normal" rowspan="#vTemp#" valign="top">
									&nbsp;#nom_site#&nbsp;<br>
									&nbsp;#adresse1#&nbsp;<br>
									<cfif len(trim(adresse2)) gt 0>
									&nbsp;#adresse2#&nbsp;<br>
									</cfif>
									&nbsp;#zipcode#&nbsp;#commune#&nbsp;
									</td>
								</tr>
									<cfoutput>
									<tr>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" valign="top">&nbsp;#sous_tete#&nbsp;</td>										
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" valign="top">&nbsp;#commentaires#&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#LsNumberFormat(val(nombre_appel), '9,999,999,999')#
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										<cfif duree_appel gt 0>
											#LsNumberFormat(int(val(duree_appel)), '9,999,999,999')#
										<cfelse>
											0
										</cfif>
										 
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#LsEuroCurrencyFormat(val(montant_final), 'none')# &euro;
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#numero_facture#&nbsp;</td>
									</tr>
									<cfset montant_conso_sous_total=montant_conso_sous_total+val(montant_final)>
									<cfset nbr_conso_sous_total=nbr_conso_sous_total+val(nombre_appel)>
									<cfset duree_conso_sous_total=duree_conso_sous_total+int(val(duree_appel))>
									
									<cfset montant_conso_total=montant_conso_total+val(montant_final)>
									<cfset nbr_conso_total=nbr_conso_total+val(nombre_appel)>
									<cfset duree_conso_total=duree_conso_total+int(val(duree_appel))>
									</cfoutput>
							<tr><td colspan="13" height="1" bgcolor="808080"></td></tr>
							<cfset numRow = numRow +1>
							<cfif (numRow mod 1) eq 0>
							<tr>
								<th align="left" colspan="5" class="th_stt">&nbsp;TOTAL page&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsNumberFormat(val(nbr_conso_sous_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsNumberFormat(val(duree_conso_sous_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsEuroCurrencyFormat(val(montant_conso_sous_total), 'none')# &euro;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th class="th_stt"></th>
							</tr>		
							<tr>
								<th align="left" colspan="5">&nbsp;TOTAL cumul&eacute;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsNumberFormat(val(nbr_conso_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsNumberFormat(val(duree_conso_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsEuroCurrencyFormat(val(montant_conso_total), 'none')# &euro;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th></th>
							</tr>							
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
								<cfset montant_conso_sous_total=0>
								<cfset nbr_conso_sous_total=0>
								<cfset duree_conso_sous_total=0>
								<cfdocumentitem type="pagebreak"/>
		 
		<table cellspacing="0" align="center" class="cadre" border="0" cellpadding="0" width="100%">
				<tr>
					<td class="td5"><strong><strong>#produit#</strong></td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" class="menuconsoview" border="0" align="center" cellpadding="0" width="100%">
							<tr align="center">
								<th>&nbsp;Site&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Ligne&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;#usage#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Nombre Appels&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Volume (min ou kO)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Montant (&euro;)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;N°&nbsp;Facture&nbsp;</th>
							</tr>	
							</cfif>								 
							</cfoutput>
							<cfoutput>
							<tr>
								<th align="left" colspan="5" class="th_stt">&nbsp;TOTAL page&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsNumberFormat(val(nbr_conso_sous_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsNumberFormat(val(duree_conso_sous_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right" class="th_stt">&nbsp;#LsEuroCurrencyFormat(val(montant_conso_sous_total), 'none')# &euro;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th class="th_stt"></th>
							</tr>		
							<tr>
								<th align="left" colspan="5">&nbsp;TOTAL cumul&eacute;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsNumberFormat(val(nbr_conso_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsNumberFormat(val(duree_conso_total), '9,999,999,999')#&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th align="right">&nbsp;#LsEuroCurrencyFormat(val(montant_conso_total), 'none')# &euro;&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th></th>
							</tr>			
							</cfoutput>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</cfif>
</table>
