<cfcomponent author="Cedric" displayName="fr.saaswedo.api.myTEM.mdm.AdminMdm" extends="fr.saaswedo.api.myTEM.mdm.MDM"
hint="Cette implémentation a été remplacée par fr.saaswedo.api.myTEM.mdm.MDM (MYT-653)">
	<cfthrow type="Custom" message="Cette implémentation a été remplacée par fr.saaswedo.api.myTEM.mdm.MDM (MYT-653)">
	<!---
	<cffunction access="public" name="LOCKID" returntype="String" hint="Retourne fr.saaswedo.api.myTEM.mdm.AdminMdm">
		<cfreturn "fr.saaswedo.api.myTEM.mdm.AdminMdm">
	</cffunction>
	--->
</cfcomponent>