	
	<!--- PROCESSUS D'UPLOAD DE FICHIERS --->

	<cfset uuid = FORM.UUID>

	<cfset directory = "/container/M27/">	
			
	<cfset path = #directory# & #uuid#>
		
	<cfif not DirectoryExists('#path#')>

		<cfdirectory action="Create" directory="#path#" type="dir" mode="777">
	
	</cfif>
		
	<cftry>
		
		<cffile action="upload" mode="777" fileField="filedata" destination="#path#/" nameconflict="overwrite" result="uploadFile" accept="application/octet-stream">
		
		<!--- ACTION A FAIRE --->
		
	<cfcatch>
	</cfcatch>
	</cftry>