<cfset cfcObject=createObject("component","fr.consotel.consoview.M311.surtheme.FacadeSurTheme")>
<cfset dataset=cfcObject.getListeThemesSurThemeByID(FORM.PERIMETRE,FORM.MODESELECTION, FORM.IDENTIFIANT, FORM.IDSUR_THEME, DATEDEB, DATEFIN)>
<cfset filename="Tableau-De-Bord-Sur-Theme-#FORM.SUR_THEME#_" & replace(session.perimetre.raison_sociale,' ','_',"all")>
<cfset exportService=createObject("component","fr.consotel.consoview.api.reporting.export.ExportService")>
<cfset exportService.exportQueryToText(dataset,filename & ".csv")>
