/* CSS file */
Application{
	 backgroundGradientColors: #00688B,#00688B;
	 backgroundGradientAlphas: 1, 1;	 
}
 
ApplicationControlBar{ 
	backgroundColor: #f2f2f2; 	
	color:#00688B; 	
}
Panel{	
	highlightAlphas: 0, 0;
	headerColors: #35586C,#35586C;	
	borderAlpha: 1;
	backgroundColor: #f2f2f2; 	
 	titleStyleName: "myTitleStyle";
 	borderStyle: solid;
}

Label{
	color:#00688B;
}
 
LinkBar { 	
   horizontalGap: 13;
   borderStyle: none;
   color : 	#999999;
   borderStyle: none;
   textSelectedColor: #00688B;
   disabledColor: #ff8000;
}

TextInput { 
   borderStyle: solid;
   cornerRadius: 8;
   textIndent: 4;
}
DataGrid {
   textSelectedColor: #990000;
   rollOverColor: #cccccc;
   selectionColor: #999999;   
}


Tree{
   textSelectedColor: #ff8000;
   rollOverColor: #cccccc;
   selectionColor: #999999;      
}

MenuBar { 
   cornerRadius: 0;
   backgroundAlpha: 0;  
   borderColor: #ffffff;
   highlightAlphas: 1,0;   
   fillAlphas: 0, 0;   
}

Form{
	color:#00688B;
}

CheckBox{
	color:#00688B;
}


HSlider {
	
}

Button{
    highlightAlphas: 0, 0.38;
}

Alert{
	headerColors: #00688B, #00688B;	
	backgroundColor: #f2f2f2; 
	titleStyleName: "myTitleStyle";	
	color:#00688B; 	
 	borderStyle: solid;	
}




.roundedCanvas{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}


.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ff8000;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	


.myNormalInputText{	
	cornerRadius: 0;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}
.bonjour{
	color : #00688B;
}
.bandeau{
	color : #00688B;
}
.consogilles{
	color : #ffffff;
}
.myPieChart{
	dropShadowEnabled : false; 
}
.myAxisStyle {
        tickLength: 20;
        tickPlacement: outside;
        minorTickPlacement: outside;
        color : #000000;
}



/* CSS file */
