/*============================================================================
* Les définitions des polices sont dans la classe :
* consoview.utils.styles.ConsoViewStyleManager
============================================================================*/
Application {
   backgroundColor: #91999f;
   backgroundGradientColors: #b2bbc2, #687073;
   backgroundGradientAlphas: 1, 1;
	font-weight:normal;
}

.panelApplication { 
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #C0C8B1;
	headerColors: #C0C8B1, #C0C8B1;
	backgroundColor: #F9FBFB;
} 

TextInput { 
   font-size: 9pt;
    borderStyle: solid;
   /*cornerRadius: 8;*/
   textIndent: 4;
   themeColor: #999966;
}

.smallForm {
	verticalGap:3;
	paddingTop:5;
	paddingBottom:5;
	paddingLeft:5;
	paddingRight:5;
}

Alert {
	backgroundColor: #FFFFFF;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	
	font-weight:normal;
	font-size:10pt;
	color:#FF0000;
	
	borderStyle: "solid";
	borderThickness: 0;
}

.boldForm {
	font-weight:bold;
	font-size:10pt;
}

.selectedLabel {
	color: #990000;
   fontStyle: italic;
}

.consoViewContainerStyle {
	paddingLeft:0;
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
}

.loginIHMStyle {
	backgroundColor: #E5E5E5;
	backgroundGradientColors: #E5E5E5, #E5E5E5;
	
	borderStyle: "solid";
	borderThickness: 0;
	cornerRadius: 0;
}

.loginMessage {
	/*font-family:ConsoTel;*/
	font-weight:bold;
	font-size:10pt;
	color:#FF0000;
}

.loginInput {
	/*font-family:ConsoTel;*/
	font-weight:normal;
	font-size:10pt;
}

.mainIHMStyle {

   backgroundColor: #DEDEDE;
   backgroundGradientColors: #DEDEDE, #DEDEDE;
   themeColor: #FDFFDC;
   color: #000000;
	borderStyle: "solid";
	borderThickness: 0;
	cornerRadius: 0;
	border-color:#000000;
}

.MainButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   color: #000000;
   borderColor: #000000;
}

.MainSelectedButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #99cccc, #99cccc, #99cccc, #99cccc;
   color: #000000;
   borderColor: #000000;
}

.MainInput {
   	backgroundColor: #d6d1c0;
   	borderStyle: solid;
   	borderColor: #400040;
   	dropShadowEnabled: false;
   	text-align:center;
   	font-weight:bold;
   	disabled-color:#000000;
   	theme-color: #c9c2ab;
}

.MainPopUpButton {
   	backgroundColor: #d6d1c0;
   	borderStyle: solid;
   	borderColor: #400040;
   	dropShadowEnabled: false;
   	text-align:center;
   	font-weight:bold;
   	disabled-color:#000000;
   	theme-color: #c9c2ab;
}

.MainMenubar {
	cornerRadius: 2;
   backgroundAlpha: 1;
   themeColor: #999966;
   openDuration: 128;
   closeDuration: 133;
   text-align:left;
}

.MainMenu {
   themeColor: #999966;
   openDuration: 128;
   closeDuration: 133;
   rollOverColor: #d6d1c0;
   selectionColor: #c9c2ab;
   text-align:left;
}

.MainCombo {
   cornerRadius: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #d6d1c0, #d6d1c0, #d6d1c0, #d6d1c0;
   selectionColor: #d6d1c0;
   themeColor: #c9c2ab;
   openDuration: 128;
   closeDuration: 133;
}

.MainDate { 
   cornerRadius: 0;
   borderThickness: 0;
   headerColors: #d6d1c0, #d6d1c0;
   themeColor: #c9c2ab;
}

.roundedCanvas{
	background-alpha : 0.7;
	backgroundColor : #ffffff;
	borderStyle : solid;
	cornerRadius : 5;
}

.titleLoginItalic {
	fontFamily: Tahoma;
   fontSize: 12;
   color: #999999;
   fontWeight: bold;
   fontStyle: italic;
}

.titleLoginItalicBlack {
	fontFamily: Tahoma;
   fontSize: 12;
   color: #000000;
   fontWeight: bold;
   fontStyle: italic;
}

.titleLogin {
	fontFamily: Tahoma;
   fontSize: 12;
   color: #999999;
   fontWeight: bold;
   fontStyle: normal;
}
.PanelLogin { 
   headerHeight: 24;
   borderStyle: solid;
   borderThicknessLeft: 0;
   borderThicknessRight: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   headerColors: #999999, #CCCCCC;
	borderThickness: 0;
	
	borderColor: #000000;
} 

.panelApp { 
   headerHeight: 24;
   borderAlpha: 1;
   highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 0;
   borderThicknessRight: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
	borderColor: #32322D;
	headerColors: #B1C5C8, #B1C5C8;
	backgroundColor: #F9FBFB;
} 

.ButtonLogin { 
   cornerRadius: 2;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #aab3b3;
   themeColor: #666666;
}

/* ########################## Mehdi Css ################################ */

.noPadding {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
	float: left;
}

.budgetInputWidth {
	width: 80;
}

.tiNoBorder
{
	borderStyle:none;
	backgroundAlpha:0;
	textAlign:right;
	disabledColor:#000000;
	cornerRadius:0;
	roundedBottomCorners:false;
}


.cboNoBorder
{
	borderStyle:none;
	backgroundAlpha:0;	
	disabledColor:#000000;
	cornerRadius:0;
	roundedBottomCorners:false;
}

.tiNoBorderEditable
{	
	backgroundAlpha:0.8;
	textAlign:right;
}


.datagrid2
{
	color: #000033;	
	font-size: 10;	     
	horizontalGridLines: true;
	horizontalGridLineColor: #cccccc;
	border-color: #000000;
	border-style: solid;  
	separator-width:0;
	vertical-grid-line-color : #534e42;  
	paddingBottom: 0;
	paddingTop: 0; 	    
	textSelectedColor: #2b333c;   
	leading: 20;
	roll-over-color:#EFFFFF;
	headerStyleName:"headerDatagrid2";
	headerColors : #999966, #999966;

}

.headerDatagrid2
{
	fontWeight:bold;
	
	
}


  
/* #################################################################### */
