/* CSS file */
Application{
	backgroundColor: #869ca7;
	backgroundGradientColors: #869ca7, #869ca7;
	themeColor: #999966;
	color: #000000;
}

ApplicationControlBar{ 
	backgroundColor: #f2f2f2; 	
}

Panel{	
	borderAlpha: 0.58;
	highlightAlphas: 0.03, 0;
	borderStyle: solid;
	headerColors: #006600, #006600;
	borderColor: #006600;
	titleStyleName: "myTitleStyle";
} 

LinkBar { 	
   horizontalGap: 13;
   borderStyle: none;
   separatorColor: #c4cccc;
   rollOverColor: #c4cccc;
   selectionColor: #999999;
   color: #000000;
   textRollOverColor: #000000;
   textSelectedColor: #000000;
   disabledColor: #66cc00;
}

TextInput { 
   borderStyle: solid;
   cornerRadius: 8;
   textIndent: 4;
   themeColor: #999966;
}
DataGrid {
   	rollOverColor: #dddddd;
   	selectionColor: #c4cccc;   
}

Tree{
	rollOverColor: #dddddd;
	selectionColor: #c4cccc;
}

Alert{
	borderAlpha: 0.70;
   	borderColor: #ff8000;
	color: #000000;
	backgroundColor: #f2f2f2;
	headerColors: #006600, #006600;
 	borderStyle: solid;
}
MenuBar { 
   cornerRadius: 0;
   backgroundAlpha: 0;  
   borderColor: #ffffff;
   highlightAlphas: 1,0;
   
   fillAlphas: 0, 0;
   fillColors: #ffffff, #e6eeee;
   rollOverColor: #c4cccc;
   selectionColor: #999999;
   color: #000000;
   textRollOverColor: #000000;
   textSelectedColor: #000000;
   disabledColor: #66cc00;
}
.roundedCanvas{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ffffff;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	

.myNormalInputText{	
	cornerRadius: 0;
	textIndent: 1;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}

.bandeau{
	color : #006600;
}

.consogilles{
	color : #DDDDDD;
}

.erreur {
	fontWeight: bold;
	color : #C40000;
}

.myPieChart{
	dropShadowEnabled : false;
}

.myAxisStyle {
    tickLength: 20;
    tickPlacement: outside;
    minorTickPlacement: outside;
    color : #000000;
}