/* CSS file */

.universAccueil{
	/* old
	backgroundColor: #909587;
	backgroundGradientColors: #909587, #909587;
	themeColor: #909587;
	*/
	backgroundColor: #DEDEDE;
	backgroundGradientColors: #DEDEDE, #DEDEDE;
	themeColor: #FDFFDC;
	color: #000000;
}

.panelAccueil { 
   cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDistance: 1;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #B1C5C8;
	headerColors: #B1C5C8, #B1C5C8;
	backgroundColor: #F9FBFB;
} 

.InfoPanelAccueil { 
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #B1C5C8, #B1C5C8;
	backgroundColor: #F9FBFB;
} 

.MainAccueilButton {
	theme-color: #C0C8B1;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #C0C8B1, #C0C8B1, #C0C8B1, #C0C8B1;
   color: #32322D;
   borderColor: #32322D;
}

.MainAccueilSelectedButton {
	theme-color: #C0C8B1;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #C0C8B1, #C0C8B1, #C0C8B1, #C0C8B1;
   color: #32322D;
   borderColor: #32322D;
}

.comboAccueil { 
   backgroundAlpha: 1;
   borderColor: #C0C8B1;
   cornerRadius: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 0.5, 0.5, 0.5, 0.5;
   fillColors: #C0C8B1, #C0C8B1, #C0C8B1, #C0C8B1;
   themeColor: #C0C8B1;
}

.TextInputAccueil { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #C0C8B1;
   borderThickness: 1;
   cornerRadius: 3;
}

.DateChooserAccueil { 
   cornerRadius: 3;
   headerColors: #C0C8B1, #C0C8B1;
   backgroundAlpha: 1;
   themeColor: #C0C8B1;
}

.LinkBarAccueil { 
   horizontalGap: 0;
   separatorWidth: 1;
   rollOverColor: #D6C5A0;
   selectionColor: #D6C5A0;
   color: #32322D;
   textRollOverColor: #32322D;
   textSelectedColor: #32322D;
   disabledColor: #D6994F;
}

