/* CSS file */

.universFacturation{
	/*backgroundColor: #909587;
	backgroundGradientColors: #909587, #909587;*/
	backgroundColor: #DEDEDE;
	backgroundGradientColors: #DEDEDE, #DEDEDE;
	themeColor: #909587;
	color: #32322D;
}

.panelFacturation { 
   /*cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #CCC99E, #CCC99E;
	backgroundColor: #FFF7E2;*/
	cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDistance: 1;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #CCC99E;
	headerColors: #CCC99E, #CCC99E;
	backgroundColor: #FFF7E2;
} 

.InfoPanelFacturation { 
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #CCC99E, #CCC99E;
	backgroundColor: #FFF7E2;
} 

.MainFacturationButton {
	theme-color: #CCC99E;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #CCC99E, #CCC99E, #CCC99E, #CCC99E;
   color: #32322D;
   borderColor: #32322D;
}

.MainFacturationSelectedButton {
	theme-color: #DB4104;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #DB4104, #DB4104, #DB4104, #DB4104;
   color: #32322D;
   borderColor: #32322D;
}

.comboFacturation { 
   backgroundAlpha: 1;
   borderColor: #CCC99E;
   cornerRadius: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 0.5, 0.5, 0.5, 0.5;
   fillColors: #CCC99E, #CCC99E, #CCC99E, #CCC99E;
   themeColor: #CCC99E;
}

.TextInputFacturation { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #CCC99E;
   borderThickness: 1;
   cornerRadius: 3;
}

.DateChooserFacturation { 
   cornerRadius: 3;
   headerColors: #CCC99E, #CCC99E;
   backgroundAlpha: 1;
   themeColor: #CCC99E;
}

.LinkBarFacturation { 
   horizontalGap: 0;
   separatorWidth: 1;
   rollOverColor: #CCC99E;
   selectionColor: #CCC99E;
   color: #32322D;
   textRollOverColor: #32322D;
   textSelectedColor: #32322D;
   disabledColor: #FFF7E2;
}


.tableauStyle {
	header-height : 14;
	font-size:10;	
	cornerRadius: 0;
	borderThickness: 0;
   	dropShadowEnabled: true;
   	roundedBottomCorners: false;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
  	borderThicknessTop: 0;
  	highlightAlphas: 0,0;
  	borderStyle: solid;
  	headerColors: #CCC99E, #CCC99E;  	
   	backgroundColor: #CCC99E;
   	backgroundAlpha: 1;
   	borderColor: #000000;
   	color:#000000;      	
}

.FlatDataGridToP {		
	
	color: #000033;	
	font-size: 10;     
    border-color: #000000;
    separator-width:0;
    vertical-grid-line-color: #000000;    
    horizontal-grid-line-color : #000000;    
    paddingTop:0; 
    use-roll-over: false;
    roll-over-color: #82CFFD;
   
    selection-color: #82CFFD;    
    header-separator-skin: ClassReference("composants.tb.tableaux.renderer.FlatHeaderSeparator");    
     
}

.FlatDataGridContent {				
	color: #000033;	
	font-size: 10;	     
	horizontalGridLines: true;
   	horizontalGridLineColor: #cccccc;
	border-color: #000000;
    border-style: solid;  
    separator-width:0;
    vertical-grid-line-color : #534e42;  
    paddingBottom: 0;
	paddingTop: 0; 	    
    textSelectedColor: #2b333c;   
    leading: 20;
    roll-over-color:#EFFFFF;
    header-separator-skin: ClassReference("composants.tb.tableaux.renderer.FlatHeaderSeparator");   
   
}

.GraphBaseStyle {
	header-height : 14;
	font-size:10;
	cornerRadius: 0;
	borderThickness: 0;
   	dropShadowEnabled: true;
   	roundedBottomCorners: false;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
  	borderThicknessTop: 0;
  	highlightAlphas: 0,0;
  	borderStyle: solid;
  	headerColors: #CCC99E, #CCC99E;  	
   	backgroundColor: #CCC99E;
   	backgroundAlpha: 1;
   	borderColor: #000000;
   	color:#000000;      	
}

.Back{
	background-color : #FFFFFF;
	background-alpha : 1;
	border-style : solid;
	border-color : #000000;
}

.myToggleButtonBar{
	theme-color: #26466D;
	 buttonHeight: 14;
	 font-size:10;
	 padding-top: -2;
	 horizontal-gap: 0;
	 corner-radius: 0;
	 buttonStyleName:"myButtonBar";
}
.myButtonBar {
   cornerRadius: 0;
}
 