#tab, #tab caption ,#tab_stat
{
    margin: auto;
}

#tab
{
    border: #DDEEFF 2px solid;
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: hide;
    width: 50%;
}

#tab_stat
{
    border: #DDEEFF 2px solid;
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: hide;
    width: 80%;
}

caption
{
    background-color: #DDEEFF;
	font-size: 1.2em;
}

#tab th ,#tab_stat th
{
    color: #996600;
    background-color: #FFCC66;
    border: #FFCC66 1px solid;
    font-variant: small-caps;
    font-size: 1em;
    letter-spacing: 1px;
}

#tab #one_th
{
	width:20%;
}
#tab #two_th
{
	width:30%;
}

#tab_stat #one_th
{
	width:20%;
}
#tab_stat #two_th
{
	width:30%;
}

#three_th ,#four_th
{
	width:20%;
}

#tab td ,#tab_stat td
{
    border: #DDEEFF 1px solid;
    padding-left: 10px;
}



#tab tfoot , #tab_stat tfoot
{
    font-size: 0.9em;
    background-color: #FFCC66;
    color: #996600;
    letter-spacing: 1px;
}