<cfset reportContext = createObject("component","fr.consotel.consoview.rapports.RapportContext")>
<cfset pasDeTypePerimetre = "">
<cfset reportContext.displayRapport(FORM.PERIMETRE_INDEX,pasDeTypePerimetre,
									FORM.REPORT_TYPE,FORM.RAISON_SOCIALE,
									"fr.consotel.consoview.facturation.rapports")>
