<cftry>
	
		<cfset objProduit = createObject("component","fr.consotel.consoview.M311.theme.facade")>
		<cfset dataset = objProduit.getListeProduitsTheme(perimetre,modeCalcul,numero,idproduit_client,datedeb,datefin)> 
	
	<cfcatch type="any">
		
		<font color="Red"><b>Erreur interne.<b></font>
		
		<cfmail from="samuel.divioka@consotel.fr" 
				to="samuel.divioka@consotel.fr" 
				server="mail.consotel.fr:26"
				subject="Error sur le rapport InventaireCommande"> --->
				 
				<font color="Red"><b>Erreur interne.<b></font>
				
				<cfoutput><p>Quand : #LsdateFormat(now(),'dd/mm/yyyy:hh:mm:ss')#</p></cfoutput>
				<cfoutput><p>Message: #CFCATCH.Message#</p></cfoutput>
				<cfoutput><p>Detail : #CFCATCH.Detail#</p></cfoutput>
				<cfoutput><p>Pile : #CFCATCH.STACKTRACE#</p></cfoutput>
		</cfmail>
	</cfcatch>
	
</cftry> 