<cfobject name="prs" type="component" component="fr.consotel.consoview.facturation.suiviFacturation.controles.ExportLignes">
<cfset t=prs.displayReport(form.idinventaire_periode,form.idorganisation)>
<cfheader name="Content-Disposition" value="inline;filename=LignesNonAffectees.#prs.getExtension("cv","csv")#">
<cfcontent type="#prs.getRunReportContentType()#" variable="#prs.getRunReportData()#">