<HTML>
	<HEAD> 
		<title>Mode opératoire</title>
		<meta http-equiv="Content-Type" content="text/hml; charset=iso-8859-1">	
		<title>Mode opératoire</title> 	 
		<style type="text/css"> 
			<!--
			.texte {
				font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
				font-size: 28px;
				color: #0070c0;
				text-align: center;
			}
			 
			-->
		</style> 
	</HEAD>
	
	<BODY aLink=#0000ff link=#0000ff bgColor=#c0c0c0 text=#000000 vLink=#800080> 
		<DIV>
			<FONT style="BACKGROUND-COLOR: #c0c0c0"></FONT>&nbsp;</DIV> 
		<DIV> 
			<TABLE border=0 cellSpacing=0 cellPadding=0 width=916 background="" align=center> 
			  <TBODY> 
				  <TR height=121> 
				    <TD bgColor=#ffffff width=899> 
				      <DIV><FONT face=Tahoma><IMG border="0" hspace="0" alt="" src="http://www.consotel.fr/mail/img_new/bandeaunew1.jpg"></FONT></DIV> 
				        <DIV><p class="texte" align="center">Comment obtenir un rapport ConsoView</p></DIV> 
				        <DIV><img src="http://www.consotel.fr/images/obtenir_rapport_cv.jpg" width="895"><br></DIV><br>
					</TD> 
				    <TD>
					    <IMG border="0" hspace="0" alt="" src="http://www.consotel.fr/mail/img_new/ombre_droite1.jpg" width="16" height="673">
					</TD>
					</TR>
				</TBODY>
			</TABLE>
		</DIV> 
		<DIV align=center><IMG border="0" hspace="0" alt="" src="http://www.consotel.fr/mail/img_new/basnew1.jpg" width="916" height="58"></DIV>
	</BODY>
</HTML> 